/* line 8, ../sass/app.sass */
p {
  margin: 0;
}

/* line 11, ../sass/app.sass */
.app .column-1 {
  flex-direction: column;
  background-color: #fafafa;
  padding: 20px;
}
/* line 15, ../sass/app.sass */
.app .column-1 .title {
  font-size: 48px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* line 21, ../sass/app.sass */
.app .column-1 .text {
  font-size: 24px;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* line 28, ../sass/app.sass */
.app .column-1 .category_box {
  background: #ffffff;
  border: 1px solid #E6E6E6;
  padding: 0;
  margin: 0;
  height: 220px;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 37, ../sass/app.sass */
.app .column-1 .category_box .t3 {
  font-size: 24px;
}
/* line 39, ../sass/app.sass */
.app .column-1 .category_box .t5 {
  font-size: 16px;
}
/* line 41, ../sass/app.sass */
.app .column-1 .category_box img {
  width: 160px;
  height: auto;
  margin: 0 auto;
}
/* line 45, ../sass/app.sass */
.app .column-1 .row {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 49, ../sass/app.sass */
.app .column-1 .row .item {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  height: auto;
  flex: 220px;
  max-width: 335px;
  min-height: 170px;
  flex-shrink: 0;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 63, ../sass/app.sass */
.app .column-1 .row .item .icon {
  width: 120px;
  height: auto;
}
/* line 65, ../sass/app.sass */
.app .column-1 .row .item .title {
  font-size: 18px;
  margin: 8px;
  opacity: 0.8;
}
/* line 69, ../sass/app.sass */
.app .column-1 .row .item .desc {
  font-size: 16px;
  margin: 8px;
  opacity: 0.8;
}
/* line 73, ../sass/app.sass */
.app .column-2 {
  background-image: linear-gradient(78deg, #ff8300, #ff4c00);
  color: #ffffff;
  padding: 40px 20px;
}
/* line 77, ../sass/app.sass */
.app .column-2 .title {
  font-size: 48px;
  width: 100%;
  text-align: center;
  display: block;
}
/* line 82, ../sass/app.sass */
.app .column-2 .text {
  font-size: 16px;
  padding-top: 18px;
  line-height: 2.06;
  letter-spacing: 2px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
/* line 92, ../sass/app.sass */
.app .column-3 {
  background-color: #5f5f5f;
  min-height: 520px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background-image: url("../images/app/app_tooManyMachine.png");
  background-repeat: no-repeat;
  background-position: 50% 140px;
  padding: 144px 48px 48px;
}
/* line 102, ../sass/app.sass */
.app .column-3 .title {
  font-size: 48px;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 9;
}
/* line 108, ../sass/app.sass */
.app .column-3 .text {
  font-size: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  line-height: 2.06;
  letter-spacing: 2px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: block;
  z-index: 9;
}
/* line 121, ../sass/app.sass */
.app .column-4 .img {
  position: relative;
}
/* line 123, ../sass/app.sass */
.app .column-4 .img .left {
  position: absolute;
  top: -32px;
  z-index: 2;
}
/* line 127, ../sass/app.sass */
.app .column-4 .img .right {
  position: absolute;
  top: -64px;
  z-index: 1;
}
/* line 131, ../sass/app.sass */
.app .column-4 .text {
  display: flex;
  padding: 0 88px;
  font-size: 18px;
  justify-content: flex-end;
}
/* line 136, ../sass/app.sass */
.app .column-5 {
  background-color: #f3f3f3;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;
  z-index: 9;
}
/* line 144, ../sass/app.sass */
.app .column-5 .title {
  font-size: 48px;
  text-align: center;
}
/* line 147, ../sass/app.sass */
.app .column-5 .text {
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
}
/* line 152, ../sass/app.sass */
.app .column-6 .container-fuild {
  position: relative;
}
/* line 154, ../sass/app.sass */
.app .column-6 .dark_bg {
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: 0;
}
/* line 159, ../sass/app.sass */
.app .column-6 .parallax-window-1 {
  background: url("../images/app/scroll_bg_01.jpg") no-repeat fixed;
  width: 100%;
  background-size: cover;
}
/* line 163, ../sass/app.sass */
.app .column-6 .parallax-window-2 {
  background: url("../images/app/scroll_bg_02.jpg") no-repeat fixed;
  width: 100%;
  background-size: cover;
}
/* line 167, ../sass/app.sass */
.app .column-6 .parallax-window-3 {
  background: url("../images/app/scroll_bg_03.jpg") no-repeat fixed;
  width: 100%;
  background-size: cover;
}
/* line 171, ../sass/app.sass */
.app .column-6 .anc_pic {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
/* line 182, ../sass/app.sass */
.app .column-6 .anc_text_block {
  margin-left: 203px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* line 189, ../sass/app.sass */
.app .column-6 .anc_text_block, .app .column-6 .anc_text_block_left {
  position: absolute;
  text-align: center;
}
/* line 192, ../sass/app.sass */
.app .column-6 .anc_bg {
  height: 450px;
}
/* line 194, ../sass/app.sass */
.app .column-6 .anc_bg .tx1 {
  font-size: 48px;
  color: #FFF;
}
/* line 197, ../sass/app.sass */
.app .column-6 .anc_bg .tx3 {
  font-size: 16px;
  color: #FFF;
  letter-spacing: 0;
  line-height: 24px;
}
/* line 202, ../sass/app.sass */
.app .column-6 .stroke-line {
  stroke: #FF8300;
  fill: none;
  stroke-width: 4px;
  stroke-dashoffset: 1500;
}
/* line 207, ../sass/app.sass */
.app .column-6 .stroke-circle {
  stroke: #FF8300;
  fill: none;
  stroke-width: 4px;
  stroke-dashoffset: 1000;
}
/* line 212, ../sass/app.sass */
.app .column-6 .dashLine {
  -webkit-animation: dashLine 4s 1;
  animation: dashLine 4s 1;
  -moz-animation: dashLine 4s 1;
  -o-animation: dashLine 4s 1;
  -ms-animation: dashLine 4s 1;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 229, ../sass/app.sass */
.app .column-7 {
  display: flex;
  flex-direction: column;
  padding: 44px 20px;
}
/* line 233, ../sass/app.sass */
.app .column-7 .title {
  font-size: 48px;
  color: #ff8300;
  text-align: center;
}
/* line 237, ../sass/app.sass */
.app .column-7 .text {
  font-size: 24px;
  margin-top: 24px;
  text-align: center;
}
/* line 241, ../sass/app.sass */
.app .column-7 .more {
  font-size: 24px;
  color: #ffffff;
  width: 200px;
  text-align: center;
  padding: 16px;
  margin: 40px auto 0;
  border-radius: 32px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}
