/* line 9, ../sass/contact.sass */
.contact .column-1 {
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  min-height: 468px;
  background: #FAFAFA;
}
/* line 16, ../sass/contact.sass */
.contact .column-1 .allball_copy {
  height: 468px;
  width: 100%;
  z-index: -1;
  position: absolute;
}
/* line 22, ../sass/contact.sass */
.contact .column-1 .allball_copy .ball_r img, .contact .column-1 .allball_copy .ball_l img {
  max-width: 100px;
  z-index: -1;
}
/* line 25, ../sass/contact.sass */
.contact .column-1 .con_block {
  text-align: center;
  padding: 50px 0;
  z-index: 10;
}
/* line 29, ../sass/contact.sass */
.contact .column-1 .con_block .tx1 {
  font-size: 48px;
  color: #FF8300;
  z-index: 10;
}
/* line 33, ../sass/contact.sass */
.contact .column-1 .con_block .tx4 {
  font-size: 20px;
  color: #000;
}
/* line 36, ../sass/contact.sass */
.contact .column-1 .con_block .con_form {
  position: relative;
  width: 510px;
  max-width: 100%;
  text-align: center;
  margin: 30px auto;
}
/* line 42, ../sass/contact.sass */
.contact .column-1 .con_block .con_form input, .contact .column-1 .con_block .con_form select, .contact .column-1 .con_block .con_form textarea {
  background: #FFF;
  border: 1px solid #E6E6E6;
  padding: 5px 10px;
  margin: 4px 2px;
}
/* line 47, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .input-group {
  display: inline;
}
/* line 49, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .input-group-addon {
  position: absolute;
  right: 5px;
  top: 0;
  border: 0;
  color: #FF8300;
  background: 0 0;
}
/* line 56, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_large {
  height: 48px;
}
/* line 58, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_huge {
  height: 148px;
  resize: none;
}
/* line 61, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_medium {
  height: 48px;
}
/* line 63, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_small {
  height: 48px;
}
/* line 65, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .con_btn {
  background: #FF8300;
  border-radius: 100px;
  font-size: 16px;
  color: #FFF;
  letter-spacing: 0.11px;
  border: none;
  width: 150px;
  height: 40px;
  margin: 30px 0;
  outline: 0;
}
/* line 76, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  margin: 4px 6px;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
/* line 84, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block *:after, .contact .column-1 .con_block .con_form .radio-block *:before {
  box-sizing: border-box;
}
/* line 86, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}
/* line 90, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  font-weight: 400;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
/* line 98, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}
/* line 100, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label:before, .contact .column-1 .con_block .con_form .radio-block .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
/* line 105, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background 0.3s;
}
/* line 113, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
/* line 121, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox input[type="checkbox"]:checked + label:before {
  background: #ff8300;
  border: none;
}
/* line 124, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.33654em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
