@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* line 11, ../sass/dudooeat.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Noto Sans TC", "Noto Sans", "Microsoft JhengHei", "Arial";
  vertical-align: baseline;
}

/* line 31, ../sass/dudooeat.sass */
* {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  transition: 0.3s;
}

/* line 36, ../sass/dudooeat.sass */
ul {
  list-style: none;
}

/* line 39, ../sass/dudooeat.sass */
html, body {
  padding: 0;
  margin: 0;
}
/* line 42, ../sass/dudooeat.sass */
html .wrapper, body .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}
/* line 43, ../sass/dudooeat.sass */
html .wrapper a, body .wrapper a {
  color: #000000;
  text-decoration: none !important;
}
/* line 46, ../sass/dudooeat.sass */
html .wrapper a:hover, body .wrapper a:hover {
  text-decoration: none !important;
}
/* line 51, ../sass/dudooeat.sass */
html .wrapper .navbar, body .wrapper .navbar {
  width: 100%;
  height: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  transition: 1s;
}
/* line 60, ../sass/dudooeat.sass */
html .wrapper .navbar.fixed, body .wrapper .navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.4);
}
/* line 67, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav, body .wrapper .navbar .main-nav {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
/* line 73, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav a, body .wrapper .navbar .main-nav a {
  color: #000000;
}
/* line 75, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav a:hover, html .wrapper .navbar .main-nav a.active, body .wrapper .navbar .main-nav a:hover, body .wrapper .navbar .main-nav a.active {
  color: #ff8300;
}
/* line 79, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .logo:hover a, body .wrapper .navbar .main-nav .logo:hover a {
  background-image: url("../images/logo/header_logo_hover.png");
}
/* line 81, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .logo a, body .wrapper .navbar .main-nav .logo a {
  width: 117px;
  height: 38px;
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../images/logo/header_logo_nor.png");
}
/* line 87, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu, body .wrapper .navbar .main-nav .sm-menu {
  opacity: 0;
  display: none;
}
/* line 90, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul, body .wrapper .navbar .main-nav .sm-menu > ul {
  list-style: none;
  margin-top: 72px;
}
/* line 94, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li, body .wrapper .navbar .main-nav .sm-menu > ul > li {
  text-align: center;
  margin: -1px 27px;
  border-width: 1px 0 1px 0;
  border-color: #e6e6e6;
  border-style: solid;
  padding: 16px;
}
/* line 101, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li.closen, body .wrapper .navbar .main-nav .sm-menu > ul > li.closen {
  overflow: hidden;
  transition: 1.5s;
}
/* line 104, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li.closen i, body .wrapper .navbar .main-nav .sm-menu > ul > li.closen i {
  transform: rotate(180deg);
}
/* line 106, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li.closen ul, body .wrapper .navbar .main-nav .sm-menu > ul > li.closen ul {
  height: 0;
}
/* line 108, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li i, body .wrapper .navbar .main-nav .sm-menu > ul > li i {
  margin-left: 12px;
}
/* line 110, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li a, body .wrapper .navbar .main-nav .sm-menu > ul > li a {
  font-size: 24px;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 114, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li ul, body .wrapper .navbar .main-nav .sm-menu > ul > li ul {
  padding-top: 4px;
  list-style: none;
  transition: 1s;
}
/* line 118, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li ul li, body .wrapper .navbar .main-nav .sm-menu > ul > li ul li {
  padding: 2px;
}
/* line 120, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul > li ul li a, body .wrapper .navbar .main-nav .sm-menu > ul > li ul li a {
  padding: 26px 0 0;
  display: block;
  font-size: 18px;
}
/* line 124, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul .login, body .wrapper .navbar .main-nav .sm-menu > ul .login {
  border: none;
  padding-bottom: 48px;
}
/* line 127, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .sm-menu > ul .login a, body .wrapper .navbar .main-nav .sm-menu > ul .login a {
  width: 186px;
  height: 40px;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  line-height: 2.06;
  letter-spacing: 1.5px;
  border-radius: 36px;
  padding: 4px 0;
  background-image: linear-gradient(78deg, #ff8300, #ff4c00);
}
/* line 138, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .toggle-menu, body .wrapper .navbar .main-nav .toggle-menu {
  cursor: pointer;
}
/* line 140, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .toggle-menu span, body .wrapper .navbar .main-nav .toggle-menu span {
  width: 64px;
  height: 64px;
  display: block;
  background-image: url("../images/icon/hamburger_icon.svg");
}
/* line 144, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .toggle-menu span:hover, body .wrapper .navbar .main-nav .toggle-menu span:hover {
  background-image: url("../images/icon/hamburger_icon_h.svg");
}
/* line 146, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .close-menu, body .wrapper .navbar .main-nav .close-menu {
  position: relative;
  cursor: pointer;
  display: block;
}
/* line 150, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .close-menu span, body .wrapper .navbar .main-nav .close-menu span {
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 16px;
  background-image: url("../images/icon/close.svg");
}
/* line 158, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .close-menu span:hover, body .wrapper .navbar .main-nav .close-menu span:hover {
  background-image: url("../images/icon/close_h.svg");
}
/* line 160, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .menu, body .wrapper .navbar .main-nav .menu {
  width: calc(100% - 130px);
  height: 100%;
  justify-content: flex-end;
}
/* line 164, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .menu ul, body .wrapper .navbar .main-nav .menu ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}
/* line 169, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .menu ul li, body .wrapper .navbar .main-nav .menu ul li {
  font-size: 16px;
  margin: 0 16px;
  cursor: pointer;
}
/* line 174, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .menu ul .login a, body .wrapper .navbar .main-nav .menu ul .login a {
  width: 84px;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 2.06;
  letter-spacing: 1.5px;
  border-radius: 36px;
  padding: 4px 0;
  background-image: linear-gradient(78deg, #ff8300, #ff4c00);
}
/* line 186, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .menu ul .member, body .wrapper .navbar .main-nav .menu ul .member {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}
/* line 193, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .menu ul .member a, body .wrapper .navbar .main-nav .menu ul .member a {
  color: #ffffff;
}
/* line 195, ../sass/dudooeat.sass */
html .wrapper .navbar .main-nav .menu ul .member a:hover, body .wrapper .navbar .main-nav .menu ul .member a:hover {
  padding-top: 3px;
}
/* line 197, ../sass/dudooeat.sass */
html .wrapper .navbar .sub-nav, body .wrapper .navbar .sub-nav {
  width: 100%;
  font-size: 16px;
  justify-content: flex-end;
}
/* line 201, ../sass/dudooeat.sass */
html .wrapper .navbar .sub-nav ul, body .wrapper .navbar .sub-nav ul {
  display: flex;
  margin: 0;
  padding-right: 115px;
}
/* line 205, ../sass/dudooeat.sass */
html .wrapper .navbar .sub-nav ul li, body .wrapper .navbar .sub-nav ul li {
  margin: 0 16px;
}
/* line 207, ../sass/dudooeat.sass */
html .wrapper .navbar .sub-nav ul li a, body .wrapper .navbar .sub-nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 19px 0;
}
/* line 211, ../sass/dudooeat.sass */
html .wrapper .navbar .sub-nav ul li a:hover, html .wrapper .navbar .sub-nav ul li a.active, body .wrapper .navbar .sub-nav ul li a:hover, body .wrapper .navbar .sub-nav ul li a.active {
  color: #ff8300;
}
/* line 213, ../sass/dudooeat.sass */
html .wrapper .navbar .sub-nav ul li a.active, body .wrapper .navbar .sub-nav ul li a.active {
  border-bottom: 4px solid #ff8300;
}
/* line 215, ../sass/dudooeat.sass */
html .wrapper .main-banner, body .wrapper .main-banner {
  width: 100%;
  height: 650px;
  max-height: 650px;
  position: relative;
  overflow: hidden;
}
/* line 221, ../sass/dudooeat.sass */
html .wrapper .main-banner:hover .banner, body .wrapper .main-banner:hover .banner {
  transform: scale(1.05);
}
/* line 223, ../sass/dudooeat.sass */
html .wrapper .main-banner .banner, body .wrapper .main-banner .banner {
  object-fit: cover;
  width: 100%;
  height: 650px;
  transition: 2s;
}
/* line 229, ../sass/dudooeat.sass */
html .wrapper .main-banner .container, body .wrapper .main-banner .container {
  position: absolute;
  bottom: 20%;
  left: 13%;
}
/* line 233, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc, body .wrapper .main-banner .container .desc {
  position: relative;
  z-index: 10;
  max-width: 610px;
  color: #ffffff;
}
/* line 238, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc p, body .wrapper .main-banner .container .desc p {
  z-index: 2;
}
/* line 240, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc .title-big, body .wrapper .main-banner .container .desc .title-big {
  font-size: 96px;
}
/* line 242, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc .title, body .wrapper .main-banner .container .desc .title {
  font-size: 48px;
}
/* line 244, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc .sub-title, html .wrapper .main-banner .container .desc .sub-title-th, body .wrapper .main-banner .container .desc .sub-title, body .wrapper .main-banner .container .desc .sub-title-th {
  font-size: 24px;
}
/* line 246, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc .sub-title-th, body .wrapper .main-banner .container .desc .sub-title-th {
  font-weight: 300;
}
/* line 248, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc img, body .wrapper .main-banner .container .desc img {
  width: auto;
  height: auto;
  position: absolute;
  object-fit: none;
  z-index: -1;
}
/* line 254, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc img:nth-child(1), body .wrapper .main-banner .container .desc img:nth-child(1) {
  bottom: -145px;
  left: -200px;
  opacity: 0.8;
}
/* line 258, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc img:nth-child(2), body .wrapper .main-banner .container .desc img:nth-child(2) {
  opacity: 0.7;
  left: -8%;
  bottom: -145px;
}
/* line 262, ../sass/dudooeat.sass */
html .wrapper .main-banner .container .desc img:nth-child(3), body .wrapper .main-banner .container .desc img:nth-child(3) {
  opacity: 0.5;
  left: 15%;
  bottom: -145px;
}
/* line 266, ../sass/dudooeat.sass */
html .wrapper .footer, body .wrapper .footer {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 50px 11%;
}
/* line 273, ../sass/dudooeat.sass */
html .wrapper .footer ul, body .wrapper .footer ul {
  list-style: none;
  margin: 0;
  display: flex;
}
/* line 277, ../sass/dudooeat.sass */
html .wrapper .footer ul li, body .wrapper .footer ul li {
  padding: 0 9px;
  line-height: 14px;
}
/* line 280, ../sass/dudooeat.sass */
html .wrapper .footer ul li a, body .wrapper .footer ul li a {
  color: #ffffff;
  font-size: 16px;
}
/* line 283, ../sass/dudooeat.sass */
html .wrapper .footer .text, body .wrapper .footer .text {
  padding: 0 9px;
  margin-top: 13px;
  font-size: 16px;
}

/* line 9, ../sass/index.sass */
.index .column-1 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url("../images/index/home_map.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 140px;
}
/* line 20, ../sass/index.sass */
.index .column-1 .title {
  height: 60px;
  max-width: 380px;
  z-index: 1;
}
/* line 24, ../sass/index.sass */
.index .column-1 .desc {
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
  z-index: 1;
}
/* line 29, ../sass/index.sass */
.index .column-1 .map-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* line 33, ../sass/index.sass */
.index .column-2 {
  background-color: rgba(229, 229, 229, 0.8);
  width: 100%;
  height: auto;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 39, ../sass/index.sass */
.index .column-2 .item {
  background-color: #ffffff;
  max-height: 430px;
  padding: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 47, ../sass/index.sass */
.index .column-2 .item .icon {
  width: 110px;
  height: 110px;
}
/* line 49, ../sass/index.sass */
.index .column-2 .item .title {
  font-size: 18px;
  margin: 8px;
  opacity: 0.8;
}
/* line 53, ../sass/index.sass */
.index .column-2 .item .desc {
  font-size: 16px;
  margin: 8px;
  opacity: 0.8;
}
/* line 57, ../sass/index.sass */
.index .column-3 {
  color: #ffffff;
  background-image: linear-gradient(76deg, #ff8300, #ff4c00);
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 48px;
}
/* line 67, ../sass/index.sass */
.index .column-3 .title {
  font-size: 48px;
  margin: 8px 0;
  letter-spacing: 4.5px;
}
/* line 71, ../sass/index.sass */
.index .column-3 .sub-title {
  font-size: 24px;
  margin: 8px 0;
  letter-spacing: 2.3px;
}
/* line 75, ../sass/index.sass */
.index .column-3 .desc {
  font-size: 16px;
  margin: 8px 0;
  max-width: 580px;
  width: 100%;
  letter-spacing: 1.2px;
  text-align: left;
  z-index: 99;
}
/* line 83, ../sass/index.sass */
.index .column-3 .logobg {
  position: absolute;
  bottom: -110px;
  right: -110px;
}
/* line 87, ../sass/index.sass */
.index .column-4 {
  padding: 64px 32px;
  display: flex;
  justify-content: center;
}
/* line 91, ../sass/index.sass */
.index .column-4 .item {
  margin: 0 15px;
  text-align: left;
}
/* line 94, ../sass/index.sass */
.index .column-4 .item .banner {
  width: 100%;
  display: block;
  margin: 18px auto;
}
/* line 98, ../sass/index.sass */
.index .column-4 .item .title {
  display: block;
  color: #ff8300;
  font-size: 18px;
  margin: 8px 16px;
}
/* line 103, ../sass/index.sass */
.index .column-4 .item .desc {
  display: block;
  color: #000000;
  font-size: 16px;
  margin: 8px 16px;
}
/* line 109, ../sass/index.sass */
.index .column-5 {
  background-color: #5f5f5f;
  padding: 24px;
}
/* line 112, ../sass/index.sass */
.index .column-5 .title {
  color: #ffffff;
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 24px auto;
}
/* line 118, ../sass/index.sass */
.index .column-5 .content {
  display: flex;
  justify-content: center;
}
/* line 121, ../sass/index.sass */
.index .column-5 .content .item {
  margin: 0 10px 24px;
}
/* line 123, ../sass/index.sass */
.index .column-5 .content .item:hover {
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.8);
}
/* line 125, ../sass/index.sass */
.index .column-5 .content .item:nth-child(1) .head {
  background-image: url("../images/index/home_media_bg_01.png");
}
/* line 127, ../sass/index.sass */
.index .column-5 .content .item:nth-child(2) .head {
  background-image: url("../images/index/home_media_bg_02.png");
}
/* line 129, ../sass/index.sass */
.index .column-5 .content .item:nth-child(3) .head {
  background-image: url("../images/index/home_media_bg_03.png");
}
/* line 131, ../sass/index.sass */
.index .column-5 .content .item:nth-child(4) .head {
  background-image: url("../images/index/home_media_bg_04.png");
}
/* line 133, ../sass/index.sass */
.index .column-5 .content .item .head {
  -webkit-background-size: cover;
  background-size: 110%;
  height: 68px;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 140, ../sass/index.sass */
.index .column-5 .content .item .head:hover {
  background-size: 100%;
}
/* line 142, ../sass/index.sass */
.index .column-5 .content .item .body {
  width: 100%;
  min-height: 126px;
  color: #000000;
  background-color: #ffffff;
  padding: 23px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 8, ../sass/pos.sass */
p {
  margin: 0;
}

/* line 11, ../sass/pos.sass */
.pos .column-1 {
  flex-direction: column;
  background-color: #fafafa;
  padding: 20px;
}
/* line 15, ../sass/pos.sass */
.pos .column-1 .category_box {
  background: #ffffff;
  border: 1px solid #E6E6E6;
  padding: 0;
  margin: 0;
  height: 220px;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 24, ../sass/pos.sass */
.pos .column-1 .category_box .t3 {
  font-size: 24px;
}
/* line 26, ../sass/pos.sass */
.pos .column-1 .category_box .t5 {
  font-size: 16px;
}
/* line 28, ../sass/pos.sass */
.pos .column-1 .category_box img {
  width: 160px;
  height: auto;
  margin: 0 auto;
}
/* line 32, ../sass/pos.sass */
.pos .column-1 .row {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 36, ../sass/pos.sass */
.pos .column-1 .row .item {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  height: auto;
  flex: 220px;
  max-width: 335px;
  min-height: 290px;
  flex-shrink: 0;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 50, ../sass/pos.sass */
.pos .column-1 .row .item .icon {
  width: 120px;
  height: auto;
}
/* line 52, ../sass/pos.sass */
.pos .column-1 .row .item .title {
  font-size: 18px;
  margin: 8px;
  opacity: 0.8;
}
/* line 56, ../sass/pos.sass */
.pos .column-1 .row .item .desc {
  font-size: 16px;
  margin: 8px;
  opacity: 0.8;
}
/* line 60, ../sass/pos.sass */
.pos .column-2 {
  display: flex;
  position: relative;
}
/* line 63, ../sass/pos.sass */
.pos .column-2 .left-block {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* line 70, ../sass/pos.sass */
.pos .column-2 .left-block ul {
  width: 50%;
  min-width: 300px;
  margin-top: 17px;
}
/* line 74, ../sass/pos.sass */
.pos .column-2 .left-block ul li {
  font-size: 16px;
  padding: 9px 0;
  border-bottom: solid 1px #f2f2f2;
}
/* line 78, ../sass/pos.sass */
.pos .column-2 .left-block ul li img {
  float: right;
}
/* line 80, ../sass/pos.sass */
.pos .column-2 .device-img {
  flex: 3;
  overflow: hidden;
}
/* line 83, ../sass/pos.sass */
.pos .column-2 .device-img img {
  width: 120%;
}
/* line 85, ../sass/pos.sass */
.pos .column-3 {
  color: #000000;
  text-align: center;
  padding: 10px 12%;
}
/* line 89, ../sass/pos.sass */
.pos .column-3 .title {
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 4.5px;
}
/* line 93, ../sass/pos.sass */
.pos .column-3 .sub-title {
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 20px;
}
/* line 97, ../sass/pos.sass */
.pos .column-3 .text {
  font-size: 16px;
  line-height: 2;
}
/* line 100, ../sass/pos.sass */
.pos .column-4 {
  padding: 48px 0 144px;
}
/* line 102, ../sass/pos.sass */
.pos .column-4 .swiper-container-3d {
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
/* line 110, ../sass/pos.sass */
.pos .column-4 .swiper-container-3d .swiper-slide {
  width: 673px;
  height: 487px;
  z-index: 10;
  background-position: center;
  background-size: 100% 100%;
}
/* line 116, ../sass/pos.sass */
.pos .column-4 .swiper_3d_svg {
  text-align: center;
  margin-top: -70px;
}
/* line 119, ../sass/pos.sass */
.pos .column-5 {
  padding: 0 0 96px;
}
/* line 121, ../sass/pos.sass */
.pos .column-5 .rep_container {
  position: relative;
  width: 100%;
  padding: 30px 0;
  font-weight: 100;
  color: #ffffff;
  background-image: linear-gradient(76deg, #ff8300, #ff4c00);
}
/* line 128, ../sass/pos.sass */
.pos .column-5 .rep_container .title {
  font-size: 48px;
}
/* line 130, ../sass/pos.sass */
.pos .column-5 .rep_container .sub-title {
  font-size: 24px;
}
/* line 132, ../sass/pos.sass */
.pos .column-5 .rep_container .content {
  width: 300px;
  margin: 30px 0;
}
/* line 135, ../sass/pos.sass */
.pos .column-5 .rep_container .rep_img_block {
  position: absolute;
  right: 0;
}
/* line 138, ../sass/pos.sass */
.pos .column-5 .rep_container .rep_img_block .rep_img {
  z-index: 5;
}
/* line 140, ../sass/pos.sass */
.pos .column-5 .rep_container .rep_hr {
  z-index: 1000;
  border: 1px solid #E6E6E6;
  width: 100%;
  bottom: -140px;
  margin: 0 0 0 -35%;
}
/* line 146, ../sass/pos.sass */
.pos .column-6 {
  color: #000000;
  padding: 64px 20px;
}
/* line 149, ../sass/pos.sass */
.pos .column-6 .title {
  width: 100%;
  text-align: center;
  font-size: 48px;
}
/* line 153, ../sass/pos.sass */
.pos .column-6 .sub-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 16px 0;
}
/* line 158, ../sass/pos.sass */
.pos .column-6 .content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 162, ../sass/pos.sass */
.pos .column-6 .content-1 .item {
  width: 270px;
  padding: 16px;
  text-align: center;
  border: solid 1px #e6e6e6;
  margin: 0 15px 48px;
}
/* line 168, ../sass/pos.sass */
.pos .column-6 .content-1 .item img {
  width: 126px;
  height: 126px;
}
/* line 170, ../sass/pos.sass */
.pos .column-6 .content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 175, ../sass/pos.sass */
.pos .column-6 .content-2 .item {
  width: 270px;
  margin: 8px 15px;
  display: flex;
  align-items: center;
}
/* line 180, ../sass/pos.sass */
.pos .column-7 {
  padding-top: 48px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 186, ../sass/pos.sass */
.pos .column-7 .title {
  width: 100%;
  text-align: center;
  font-size: 48px;
}
/* line 190, ../sass/pos.sass */
.pos .column-7 .sub-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 16px 0;
}
/* line 195, ../sass/pos.sass */
.pos .column-7 .more {
  width: 200px;
  height: 64px;
  display: block;
  color: #ffffff;
  font-size: 24px;
  line-height: 55.2px;
  letter-spacing: 2px;
  margin: 0 auto 32px;
  text-align: center;
  border-radius: 100px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}
/* line 207, ../sass/pos.sass */
.pos .column-7 img {
  margin: 0 auto;
  max-width: 100%;
}
/* line 210, ../sass/pos.sass */
.pos .column-8 {
  padding: 88px 0;
  display: flex;
  align-items: center;
}
/* line 214, ../sass/pos.sass */
.pos .column-8 .left-block, .pos .column-8 .right-block {
  flex: 1;
}
/* line 216, ../sass/pos.sass */
.pos .column-8 .title {
  width: 100%;
  font-size: 48px;
}
/* line 219, ../sass/pos.sass */
.pos .column-8 .sub-title {
  width: 100%;
  font-size: 24px;
}
/* line 222, ../sass/pos.sass */
.pos .column-8 .text {
  width: 100%;
  font-size: 16px;
}
/* line 226, ../sass/pos.sass */
.pos .column-8 .right-block img {
  margin-top: 24px;
}
/* line 228, ../sass/pos.sass */
.pos .column-9 {
  background-image: url("../images/pos/pos_contactUs.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0% 70%;
  width: 100%;
  height: 371px;
  color: #ffffff;
  padding: 72px 0;
}
/* line 236, ../sass/pos.sass */
.pos .column-9 .title {
  width: 100%;
  font-size: 48px;
  text-align: center;
  margin: 8px 0;
}
/* line 241, ../sass/pos.sass */
.pos .column-9 .sub-title {
  width: 100%;
  font-size: 24px;
  text-align: center;
}
/* line 245, ../sass/pos.sass */
.pos .column-9 .more {
  width: 200px;
  height: 64px;
  display: block;
  color: #ffffff;
  font-size: 24px;
  line-height: 55.2px;
  letter-spacing: 2px;
  margin: 24px auto;
  text-align: center;
  border-radius: 100px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}

/* line 8, ../sass/app.sass */
p {
  margin: 0;
}

/* line 11, ../sass/app.sass */
.app .column-1 {
  flex-direction: column;
  background-color: #fafafa;
  padding: 20px;
}
/* line 15, ../sass/app.sass */
.app .column-1 .title {
  font-size: 48px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* line 21, ../sass/app.sass */
.app .column-1 .text {
  font-size: 24px;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
/* line 28, ../sass/app.sass */
.app .column-1 .category_box {
  background: #ffffff;
  border: 1px solid #E6E6E6;
  padding: 0;
  margin: 0;
  height: 220px;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 37, ../sass/app.sass */
.app .column-1 .category_box .t3 {
  font-size: 24px;
}
/* line 39, ../sass/app.sass */
.app .column-1 .category_box .t5 {
  font-size: 16px;
}
/* line 41, ../sass/app.sass */
.app .column-1 .category_box img {
  width: 160px;
  height: auto;
  margin: 0 auto;
}
/* line 45, ../sass/app.sass */
.app .column-1 .row {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 49, ../sass/app.sass */
.app .column-1 .row .item {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  height: auto;
  flex: 220px;
  max-width: 335px;
  min-height: 170px;
  flex-shrink: 0;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 63, ../sass/app.sass */
.app .column-1 .row .item .icon {
  width: 120px;
  height: auto;
}
/* line 65, ../sass/app.sass */
.app .column-1 .row .item .title {
  font-size: 18px;
  margin: 8px;
  opacity: 0.8;
}
/* line 69, ../sass/app.sass */
.app .column-1 .row .item .desc {
  font-size: 16px;
  margin: 8px;
  opacity: 0.8;
}
/* line 73, ../sass/app.sass */
.app .column-2 {
  background-image: linear-gradient(78deg, #ff8300, #ff4c00);
  color: #ffffff;
  padding: 40px 20px;
}
/* line 77, ../sass/app.sass */
.app .column-2 .title {
  font-size: 48px;
  width: 100%;
  text-align: center;
  display: block;
}
/* line 82, ../sass/app.sass */
.app .column-2 .text {
  font-size: 16px;
  padding-top: 18px;
  line-height: 2.06;
  letter-spacing: 2px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
/* line 92, ../sass/app.sass */
.app .column-3 {
  background-color: #5f5f5f;
  min-height: 520px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background-image: url("../images/app/app_tooManyMachine.png");
  background-repeat: no-repeat;
  background-position: 50% 140px;
  padding: 144px 48px 48px;
}
/* line 102, ../sass/app.sass */
.app .column-3 .title {
  font-size: 48px;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 9;
}
/* line 108, ../sass/app.sass */
.app .column-3 .text {
  font-size: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  line-height: 2.06;
  letter-spacing: 2px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: block;
  z-index: 9;
}
/* line 121, ../sass/app.sass */
.app .column-4 .img {
  position: relative;
}
/* line 123, ../sass/app.sass */
.app .column-4 .img .left {
  position: absolute;
  top: -32px;
  z-index: 2;
}
/* line 127, ../sass/app.sass */
.app .column-4 .img .right {
  position: absolute;
  top: -64px;
  z-index: 1;
}
/* line 131, ../sass/app.sass */
.app .column-4 .text {
  display: flex;
  padding: 0 88px;
  font-size: 18px;
  justify-content: flex-end;
}
/* line 136, ../sass/app.sass */
.app .column-5 {
  background-color: #f3f3f3;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;
  z-index: 9;
}
/* line 144, ../sass/app.sass */
.app .column-5 .title {
  font-size: 48px;
  text-align: center;
}
/* line 147, ../sass/app.sass */
.app .column-5 .text {
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
}
/* line 152, ../sass/app.sass */
.app .column-6 .container-fuild {
  position: relative;
}
/* line 154, ../sass/app.sass */
.app .column-6 .dark_bg {
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: 0;
}
/* line 159, ../sass/app.sass */
.app .column-6 .parallax-window-1 {
  background: url("../images/app/scroll_bg_01.jpg") no-repeat fixed;
  width: 100%;
  background-size: cover;
}
/* line 163, ../sass/app.sass */
.app .column-6 .parallax-window-2 {
  background: url("../images/app/scroll_bg_02.jpg") no-repeat fixed;
  width: 100%;
  background-size: cover;
}
/* line 167, ../sass/app.sass */
.app .column-6 .parallax-window-3 {
  background: url("../images/app/scroll_bg_03.jpg") no-repeat fixed;
  width: 100%;
  background-size: cover;
}
/* line 171, ../sass/app.sass */
.app .column-6 .anc_pic {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
/* line 182, ../sass/app.sass */
.app .column-6 .anc_text_block {
  margin-left: 203px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* line 189, ../sass/app.sass */
.app .column-6 .anc_text_block, .app .column-6 .anc_text_block_left {
  position: absolute;
  text-align: center;
}
/* line 192, ../sass/app.sass */
.app .column-6 .anc_bg {
  height: 450px;
}
/* line 194, ../sass/app.sass */
.app .column-6 .anc_bg .tx1 {
  font-size: 48px;
  color: #FFF;
}
/* line 197, ../sass/app.sass */
.app .column-6 .anc_bg .tx3 {
  font-size: 16px;
  color: #FFF;
  letter-spacing: 0;
  line-height: 24px;
}
/* line 202, ../sass/app.sass */
.app .column-6 .stroke-line {
  stroke: #FF8300;
  fill: none;
  stroke-width: 4px;
  stroke-dashoffset: 1500;
}
/* line 207, ../sass/app.sass */
.app .column-6 .stroke-circle {
  stroke: #FF8300;
  fill: none;
  stroke-width: 4px;
  stroke-dashoffset: 1000;
}
/* line 212, ../sass/app.sass */
.app .column-6 .dashLine {
  -webkit-animation: dashLine 4s 1;
  animation: dashLine 4s 1;
  -moz-animation: dashLine 4s 1;
  -o-animation: dashLine 4s 1;
  -ms-animation: dashLine 4s 1;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 229, ../sass/app.sass */
.app .column-7 {
  display: flex;
  flex-direction: column;
  padding: 44px 20px;
}
/* line 233, ../sass/app.sass */
.app .column-7 .title {
  font-size: 48px;
  color: #ff8300;
  text-align: center;
}
/* line 237, ../sass/app.sass */
.app .column-7 .text {
  font-size: 24px;
  margin-top: 24px;
  text-align: center;
}
/* line 241, ../sass/app.sass */
.app .column-7 .more {
  font-size: 24px;
  color: #ffffff;
  width: 200px;
  text-align: center;
  padding: 16px;
  margin: 40px auto 0;
  border-radius: 32px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}

/* line 9, ../sass/marking.sass */
.marking .column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  background-color: #fafafa;
}
/* line 15, ../sass/marking.sass */
.marking .column-1 > .title {
  font-size: 48px;
  padding: 8px 16px;
  letter-spacing: 4.5px;
}
/* line 19, ../sass/marking.sass */
.marking .column-1 > .text {
  max-width: 645px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  padding: 8px 16px;
}
/* line 25, ../sass/marking.sass */
.marking .column-1 .content {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 24px 16px;
}
/* line 30, ../sass/marking.sass */
.marking .column-1 .content .item {
  flex: 270px;
  flex-grow: 0;
  text-align: center;
  margin: 0 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
}
/* line 40, ../sass/marking.sass */
.marking .column-1 .content .item .icon {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  padding: 8px;
}
/* line 44, ../sass/marking.sass */
.marking .column-1 .content .item .title {
  font-size: 24px;
  padding: 8px;
  margin: 0 auto;
}
/* line 48, ../sass/marking.sass */
.marking .column-1 .content .item .text {
  font-size: 18px;
  max-width: 180px;
  margin: 0 auto;
}
/* line 52, ../sass/marking.sass */
.marking .column-2 {
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
  align-items: center;
  padding: 32px 16px;
  color: #ffffff;
}
/* line 59, ../sass/marking.sass */
.marking .column-2 .title {
  font-size: 48px;
  padding: 8px 16px;
}
/* line 62, ../sass/marking.sass */
.marking .column-2 .text {
  padding: 8px 16px;
  font-size: 16px;
  max-width: 580px;
}
/* line 66, ../sass/marking.sass */
.marking .column-3 {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;
}
/* line 72, ../sass/marking.sass */
.marking .column-3 > .title {
  padding: 24px 16px;
  font-size: 48px;
  letter-spacing: 4px;
}
/* line 76, ../sass/marking.sass */
.marking .column-3 .content {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  margin-bottom: 12px;
}
/* line 81, ../sass/marking.sass */
.marking .column-3 .content .item {
  flex: 370px;
  flex-grow: 0;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin: 0 15px;
  text-align: center;
}
/* line 88, ../sass/marking.sass */
.marking .column-3 .content .item .head {
  width: 100%;
  margin-bottom: 4px;
  display: block;
}
/* line 92, ../sass/marking.sass */
.marking .column-3 .content .item .title {
  font-size: 24px;
  padding: 12px 32px;
  color: #ff8300;
  display: block;
}
/* line 97, ../sass/marking.sass */
.marking .column-3 .content .item p {
  padding: 4px 32px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
}
/* line 102, ../sass/marking.sass */
.marking .column-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 16px;
}
/* line 107, ../sass/marking.sass */
.marking .column-4 .method {
  width: 400px;
  height: 60px;
  max-width: 100%;
  border-radius: 3px;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  line-height: 2;
  letter-spacing: 3px;
  margin: 16px auto;
}
/* line 117, ../sass/marking.sass */
.marking .column-4 .method.blue {
  background-color: #4a90e2;
}
/* line 119, ../sass/marking.sass */
.marking .column-4 .method.green {
  background-color: #6fc617;
}
/* line 121, ../sass/marking.sass */
.marking .column-4 .method.orange {
  background-color: #ff8300;
}
/* line 123, ../sass/marking.sass */
.marking .column-4 .line {
  background-color: #dfdfdf;
}
/* line 125, ../sass/marking.sass */
.marking .column-4 .content-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 22px;
  margin-bottom: 32px;
}
/* line 131, ../sass/marking.sass */
.marking .column-4 .content-1 .item {
  max-width: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 137, ../sass/marking.sass */
.marking .column-4 .content-1 .item .title {
  font-size: 24px;
  letter-spacing: 2px;
  display: flex;
}
/* line 141, ../sass/marking.sass */
.marking .column-4 .content-1 .item .title span {
  display: block;
  width: 94px;
  text-align: center;
  border-radius: 3px;
  margin-right: 4px;
  border: solid 1px #cccccc;
}
/* line 148, ../sass/marking.sass */
.marking .column-4 .price {
  font-size: 24px;
  color: #ff8300;
  padding: 16px;
}
/* line 152, ../sass/marking.sass */
.marking .column-4 .content-2 {
  text-align: center;
  width: 100%;
}
/* line 155, ../sass/marking.sass */
.marking .column-4 .content-2 .title {
  font-size: 24px;
  letter-spacing: 2px;
}
/* line 158, ../sass/marking.sass */
.marking .column-4 .content-2 .plus {
  text-align: center;
  font-size: 32px;
  padding: 16px;
  color: #d8d8d8;
}
/* line 163, ../sass/marking.sass */
.marking .column-4 .content-2 .items {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 22px;
  margin-bottom: 32px;
  position: relative;
}
/* line 170, ../sass/marking.sass */
.marking .column-4 .content-2 .items .item {
  flex-grow: 0;
  max-width: 100%;
}
/* line 174, ../sass/marking.sass */
.marking .column-4 .content-2 .items .item .desc {
  color: #757575;
  font-size: 16px;
}
/* line 177, ../sass/marking.sass */
.marking .column-4 .text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2;
  max-width: 400px;
  margin: 0 auto;
}
/* line 184, ../sass/marking.sass */
.marking .column-5 {
  display: flex;
  flex-direction: column;
  padding: 44px 20px;
  background-image: url("../images/marking/marketing_contactUs.png");
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 191, ../sass/marking.sass */
.marking .column-5 .title {
  font-size: 48px;
  color: #ff8300;
  text-align: center;
}
/* line 195, ../sass/marking.sass */
.marking .column-5 .text {
  font-size: 24px;
  margin-top: 24px;
  color: #ffffff;
  text-align: center;
}
/* line 200, ../sass/marking.sass */
.marking .column-5 .more {
  font-size: 24px;
  color: #ffffff;
  width: 200px;
  text-align: center;
  padding: 16px;
  margin: 40px auto 0;
  border-radius: 32px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}

/* line 9, ../sass/service.sass */
.service .column-1 {
  display: flex;
  justify-content: center;
  padding: 32px 16px;
  background-color: #fafafa;
}
/* line 14, ../sass/service.sass */
.service .column-1 .item {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  flex: 270px;
  flex-grow: 0;
  min-height: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  font-size: 16px;
}
/* line 26, ../sass/service.sass */
.service .column-1 .item img {
  margin-bottom: 8px;
}
/* line 28, ../sass/service.sass */
.service .column-2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 56px 16px;
}
/* line 33, ../sass/service.sass */
.service .column-2 .item {
  display: flex;
  margin: 8px auto;
}
/* line 36, ../sass/service.sass */
.service .column-2 .item img {
  height: 154px;
}
/* line 38, ../sass/service.sass */
.service .column-2 .item .content {
  border: solid 1px #e6e6e6;
  width: 500px;
  padding: 0 32px;
  display: flex;
}
/* line 44, ../sass/service.sass */
.service .column-2 .item .content ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 49, ../sass/service.sass */
.service .column-2 .item .content ul li {
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
  display: flex;
  align-items: center;
}
/* line 55, ../sass/service.sass */
.service .column-2 .item .content ul li i {
  background-color: #e6e6e6;
  float: left;
  margin-right: 8px;
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/* line 62, ../sass/service.sass */
.service .column-3 {
  display: flex;
  flex-direction: column;
  padding: 44px 20px;
  background-image: url("../images/service/service_contactUs.png");
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 69, ../sass/service.sass */
.service .column-3 .title {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}
/* line 73, ../sass/service.sass */
.service .column-3 .text {
  font-size: 24px;
  margin-top: 24px;
  color: #ffffff;
  text-align: center;
}
/* line 78, ../sass/service.sass */
.service .column-3 .more {
  font-size: 24px;
  color: #ffffff;
  width: 200px;
  text-align: center;
  padding: 16px;
  margin: 40px auto 0;
  border-radius: 32px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}

/* line 9, ../sass/contact.sass */
.contact .column-1 {
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  min-height: 468px;
  background: #FAFAFA;
}
/* line 16, ../sass/contact.sass */
.contact .column-1 .allball_copy {
  height: 468px;
  width: 100%;
  z-index: -1;
  position: absolute;
}
/* line 22, ../sass/contact.sass */
.contact .column-1 .allball_copy .ball_r img, .contact .column-1 .allball_copy .ball_l img {
  max-width: 100px;
  z-index: -1;
}
/* line 25, ../sass/contact.sass */
.contact .column-1 .con_block {
  text-align: center;
  padding: 50px 0;
  z-index: 10;
}
/* line 29, ../sass/contact.sass */
.contact .column-1 .con_block .tx1 {
  font-size: 48px;
  color: #FF8300;
  z-index: 10;
}
/* line 33, ../sass/contact.sass */
.contact .column-1 .con_block .tx4 {
  font-size: 20px;
  color: #000;
}
/* line 36, ../sass/contact.sass */
.contact .column-1 .con_block .con_form {
  position: relative;
  width: 510px;
  max-width: 100%;
  text-align: center;
  margin: 30px auto;
}
/* line 42, ../sass/contact.sass */
.contact .column-1 .con_block .con_form input, .contact .column-1 .con_block .con_form select, .contact .column-1 .con_block .con_form textarea {
  background: #FFF;
  border: 1px solid #E6E6E6;
  padding: 5px 10px;
  margin: 4px 2px;
}
/* line 47, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .input-group {
  display: inline;
}
/* line 49, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .input-group-addon {
  position: absolute;
  right: 5px;
  top: 0;
  border: 0;
  color: #FF8300;
  background: 0 0;
}
/* line 56, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_large {
  height: 48px;
}
/* line 58, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_huge {
  height: 148px;
  resize: none;
}
/* line 61, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_medium {
  height: 48px;
}
/* line 63, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .form_small {
  height: 48px;
}
/* line 65, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .con_btn {
  background: #FF8300;
  border-radius: 100px;
  font-size: 16px;
  color: #FFF;
  letter-spacing: 0.11px;
  border: none;
  width: 150px;
  height: 40px;
  margin: 30px 0;
  outline: 0;
}
/* line 76, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  margin: 4px 6px;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
/* line 84, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block *:after, .contact .column-1 .con_block .con_form .radio-block *:before {
  box-sizing: border-box;
}
/* line 86, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}
/* line 90, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  font-weight: 400;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
/* line 98, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}
/* line 100, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label:before, .contact .column-1 .con_block .con_form .radio-block .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
/* line 105, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background 0.3s;
}
/* line 113, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
/* line 121, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox input[type="checkbox"]:checked + label:before {
  background: #ff8300;
  border: none;
}
/* line 124, ../sass/contact.sass */
.contact .column-1 .con_block .con_form .radio-block .md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.33654em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

@media all and (min-width: 768px) {
  /* line 8, ../sass/responsive.sass */
  .menu, .sub-nav {
    display: flex;
  }

  /* line 10, ../sass/responsive.sass */
  .toggle-menu {
    display: none;
  }

  /* line 12, ../sass/responsive.sass */
  .footer {
    height: 150px;
  }
  /* line 14, ../sass/responsive.sass */
  .footer ul {
    display: flex;
  }
  /* line 16, ../sass/responsive.sass */
  .footer ul li {
    border-left: 1px solid #ffffff;
  }
  /* line 17, ../sass/responsive.sass */
  .footer ul li:nth-child(1) {
    border-left: 0px;
  }

  /* line 22, ../sass/responsive.sass */
  .index .column-2 .item {
    width: 270px;
    margin: 0 15px;
  }
  /* line 25, ../sass/responsive.sass */
  .index .column-3 {
    height: 311px;
  }
  /* line 29, ../sass/responsive.sass */
  .index .column-4 .item .desc {
    max-width: 387px;
  }
  /* line 33, ../sass/responsive.sass */
  .index .column-5 .content .item {
    width: 220px;
  }
  /* line 35, ../sass/responsive.sass */
  .index .column-5 .content .item .desc {
    max-width: 100%;
  }

  /* line 39, ../sass/responsive.sass */
  .pos .column-1 .row {
    display: flex;
  }
  /* line 42, ../sass/responsive.sass */
  .pos .column-2 .left-block {
    align-items: flex-end;
    padding-bottom: 110px;
  }
  /* line 46, ../sass/responsive.sass */
  .pos .column-5 .rep_container {
    height: 341px;
  }
  /* line 48, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img_block {
    top: -220px;
  }
  /* line 50, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img {
    width: 817px;
    height: 680px;
  }

  /* line 55, ../sass/responsive.sass */
  .app .column-1 .row {
    display: flex;
  }
  /* line 57, ../sass/responsive.sass */
  .app .column-4 {
    min-height: 660px;
  }
  /* line 59, ../sass/responsive.sass */
  .app .column-4 .img {
    min-height: 475px;
  }
  /* line 61, ../sass/responsive.sass */
  .app .column-4 .img .left {
    left: -30%;
  }
  /* line 63, ../sass/responsive.sass */
  .app .column-4 .img .right {
    right: 0;
  }
  /* line 66, ../sass/responsive.sass */
  .app .column-6 .anc_pic {
    width: 300px;
    height: 300px;
  }
  /* line 69, ../sass/responsive.sass */
  .app .column-6 .anc_text_block, .app .column-6 .anc_text_block_left {
    width: 200px;
    left: 50%;
  }

  /* line 76, ../sass/responsive.sass */
  .marking .column-4 .line {
    height: 100px;
    width: 1px;
    margin-top: 16px;
  }
  /* line 81, ../sass/responsive.sass */
  .marking .column-4 .content-1 .item {
    flex: 385px;
  }
  /* line 85, ../sass/responsive.sass */
  .marking .column-4 .content-2 .items .item {
    flex: 256px;
  }

  /* line 89, ../sass/responsive.sass */
  .contact .column-1 .md-checkbox {
    width: 24%;
  }
  /* line 91, ../sass/responsive.sass */
  .contact .column-1 .form_large {
    width: 340px;
  }
  /* line 93, ../sass/responsive.sass */
  .contact .column-1 .form_huge, .contact .column-1 .radio-block {
    width: 500px;
  }
  /* line 95, ../sass/responsive.sass */
  .contact .column-1 .form_medium {
    width: 245px;
  }
  /* line 97, ../sass/responsive.sass */
  .contact .column-1 .form_small {
    width: 150px;
  }
}
@media all and (max-width: 768px) {
  /* line 100, ../sass/responsive.sass */
  .menu {
    display: none;
  }

  /* line 103, ../sass/responsive.sass */
  .navbar .logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  /* line 107, ../sass/responsive.sass */
  .navbar .sm-menu {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    top: 0;
    left: 0;
  }
  /* line 115, ../sass/responsive.sass */
  .navbar .toggle-menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  /* line 119, ../sass/responsive.sass */
  .navbar .sub-nav {
    display: none;
  }

  /* line 121, ../sass/responsive.sass */
  .footer {
    height: auto;
  }
  /* line 123, ../sass/responsive.sass */
  .footer ul {
    display: flex;
    flex-direction: column;
  }
  /* line 126, ../sass/responsive.sass */
  .footer ul li {
    margin: 6px 0;
  }

  /* line 129, ../sass/responsive.sass */
  .index .column-2 {
    flex-direction: column;
  }
  /* line 131, ../sass/responsive.sass */
  .index .column-2 .item {
    width: 100%;
    margin: 15px 0;
  }
  /* line 135, ../sass/responsive.sass */
  .index .column-4 {
    flex-direction: column;
  }
  /* line 138, ../sass/responsive.sass */
  .index .column-4 .item .desc {
    max-width: 100%;
  }
  /* line 141, ../sass/responsive.sass */
  .index .column-5 .content {
    flex-direction: column;
  }
  /* line 143, ../sass/responsive.sass */
  .index .column-5 .content .item {
    width: 100%;
  }
  /* line 145, ../sass/responsive.sass */
  .index .column-5 .content .item .desc {
    max-width: 100%;
  }

  /* line 149, ../sass/responsive.sass */
  .pos .column-1 .row {
    display: none;
  }
  /* line 151, ../sass/responsive.sass */
  .pos .column-1 .category_box {
    height: 230px;
    margin: 0 15%;
    width: 70%;
  }
  /* line 155, ../sass/responsive.sass */
  .pos .column-2 {
    flex-direction: column;
  }
  /* line 157, ../sass/responsive.sass */
  .pos .column-2 .left-block {
    align-items: center;
    padding: 20px 0;
  }
  /* line 161, ../sass/responsive.sass */
  .pos .column-5 .rep_container {
    overflow: hidden;
    height: 405px;
  }
  /* line 164, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img_block {
    top: 200px;
  }
  /* line 166, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img {
    height: 360px;
    width: auto;
  }
  /* line 170, ../sass/responsive.sass */
  .pos .column-6 .content-1 {
    flex-direction: column;
  }
  /* line 172, ../sass/responsive.sass */
  .pos .column-8 {
    flex-direction: column;
  }

  /* line 176, ../sass/responsive.sass */
  .app .column-1 .row {
    display: none;
  }
  /* line 178, ../sass/responsive.sass */
  .app .column-1 .category_box {
    height: 230px;
    margin: 0 15%;
    width: 70%;
  }
  /* line 182, ../sass/responsive.sass */
  .app .column-4 {
    min-height: 600px;
  }
  /* line 184, ../sass/responsive.sass */
  .app .column-4 .img {
    min-height: 425px;
  }
  /* line 186, ../sass/responsive.sass */
  .app .column-4 .img .left {
    width: 90%;
    left: -30%;
  }
  /* line 189, ../sass/responsive.sass */
  .app .column-4 .img .right {
    width: 70%;
    right: 0;
  }
  /* line 193, ../sass/responsive.sass */
  .app .column-6 .svg_top_circle {
    width: 100%;
    height: 100px;
  }
  /* line 196, ../sass/responsive.sass */
  .app .column-6 .anc_pic {
    margin-top: -20%;
    width: 70%;
    height: auto;
  }
  /* line 200, ../sass/responsive.sass */
  .app .column-6 .anc_text_block, .app .column-6 .anc_text_block_left {
    width: 100%;
    left: 0;
    top: 50%;
    position: relative;
    text-align: center;
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
    margin: auto;
    padding: 0 25%;
  }
  /* line 213, ../sass/responsive.sass */
  .app .column-6 .anc_bg {
    height: 700px;
    position: relative;
  }
  /* line 216, ../sass/responsive.sass */
  .app .column-6 .dark_bg {
    position: absolute;
    object-fit: cover;
    height: 700px;
    z-index: 0;
  }
  /* line 221, ../sass/responsive.sass */
  .app .column-6 .svg_top_circle .stroke-circle, .app .column-6 .svg_top_circle .stroke-line {
    stroke: #FFF;
  }

  /* line 225, ../sass/responsive.sass */
  .marking .column-1 .content {
    flex-direction: column;
  }
  /* line 227, ../sass/responsive.sass */
  .marking .column-1 .content .item {
    min-width: 270px;
    margin: 15px auto;
  }
  /* line 231, ../sass/responsive.sass */
  .marking .column-3 .content {
    flex-direction: column;
  }
  /* line 233, ../sass/responsive.sass */
  .marking .column-3 .content .item {
    margin: 15px auto;
  }
  /* line 236, ../sass/responsive.sass */
  .marking .column-4 .line {
    height: 1px;
    width: 75%;
    margin: 32px auto;
  }
  /* line 240, ../sass/responsive.sass */
  .marking .column-4 .content-1 {
    flex-direction: column;
  }
  /* line 243, ../sass/responsive.sass */
  .marking .column-4 .content-2 .items {
    flex-direction: column;
  }
  /* line 245, ../sass/responsive.sass */
  .marking .column-4 .content-2 .items .item {
    margin: 15px auto;
  }

  /* line 248, ../sass/responsive.sass */
  .contact .column-1 {
    padding: 15px;
  }
  /* line 250, ../sass/responsive.sass */
  .contact .column-1 .md-checkbox {
    width: 49%;
  }
  /* line 252, ../sass/responsive.sass */
  .contact .column-1 .con_form {
    width: 100%;
  }
  /* line 254, ../sass/responsive.sass */
  .contact .form_huge, .contact .form_large, .contact .form_medium, .contact .form_small {
    width: 100%;
  }
}
@media all and (max-width: 1160px) and (min-width: 768px) {
  /* line 259, ../sass/responsive.sass */
  .index .column-3 {
    height: 572px;
  }

  /* line 262, ../sass/responsive.sass */
  .pos .column-5 {
    overflow: hidden;
  }
  /* line 264, ../sass/responsive.sass */
  .pos .column-5 .rep_container {
    overflow: hidden;
  }
  /* line 266, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img_block {
    top: 100px;
  }
  /* line 268, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img {
    height: 360px;
    width: auto;
  }
}
@media all and (max-width: 1200px) and (min-width: 768px) {
  /* line 273, ../sass/responsive.sass */
  .app .column-4 {
    min-height: 660px;
  }
  /* line 275, ../sass/responsive.sass */
  .app .column-4 .img {
    min-height: 525px;
  }
  /* line 277, ../sass/responsive.sass */
  .app .column-4 .img .left {
    width: 90%;
  }
  /* line 279, ../sass/responsive.sass */
  .app .column-4 .img .right {
    width: 70%;
    right: -9%;
  }
}
