/* line 9, ../sass/index.sass */
.index .column-1 {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url("../images/index/home_map.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 140px;
}
/* line 20, ../sass/index.sass */
.index .column-1 .title {
  height: 60px;
  max-width: 380px;
  z-index: 1;
}
/* line 24, ../sass/index.sass */
.index .column-1 .desc {
  font-size: 24px;
  text-align: center;
  margin-top: 16px;
  z-index: 1;
}
/* line 29, ../sass/index.sass */
.index .column-1 .map-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* line 33, ../sass/index.sass */
.index .column-2 {
  background-color: rgba(229, 229, 229, 0.8);
  width: 100%;
  height: auto;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 39, ../sass/index.sass */
.index .column-2 .item {
  background-color: #ffffff;
  max-height: 430px;
  padding: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 47, ../sass/index.sass */
.index .column-2 .item .icon {
  width: 110px;
  height: 110px;
}
/* line 49, ../sass/index.sass */
.index .column-2 .item .title {
  font-size: 18px;
  margin: 8px;
  opacity: 0.8;
}
/* line 53, ../sass/index.sass */
.index .column-2 .item .desc {
  font-size: 16px;
  margin: 8px;
  opacity: 0.8;
}
/* line 57, ../sass/index.sass */
.index .column-3 {
  color: #ffffff;
  background-image: linear-gradient(76deg, #ff8300, #ff4c00);
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 48px;
}
/* line 67, ../sass/index.sass */
.index .column-3 .title {
  font-size: 48px;
  margin: 8px 0;
  letter-spacing: 4.5px;
}
/* line 71, ../sass/index.sass */
.index .column-3 .sub-title {
  font-size: 24px;
  margin: 8px 0;
  letter-spacing: 2.3px;
}
/* line 75, ../sass/index.sass */
.index .column-3 .desc {
  font-size: 16px;
  margin: 8px 0;
  max-width: 580px;
  width: 100%;
  letter-spacing: 1.2px;
  text-align: left;
  z-index: 99;
}
/* line 83, ../sass/index.sass */
.index .column-3 .logobg {
  position: absolute;
  bottom: -110px;
  right: -110px;
}
/* line 87, ../sass/index.sass */
.index .column-4 {
  padding: 64px 32px;
  display: flex;
  justify-content: center;
}
/* line 91, ../sass/index.sass */
.index .column-4 .item {
  margin: 0 15px;
  text-align: left;
}
/* line 94, ../sass/index.sass */
.index .column-4 .item .banner {
  width: 100%;
  display: block;
  margin: 18px auto;
}
/* line 98, ../sass/index.sass */
.index .column-4 .item .title {
  display: block;
  color: #ff8300;
  font-size: 18px;
  margin: 8px 16px;
}
/* line 103, ../sass/index.sass */
.index .column-4 .item .desc {
  display: block;
  color: #000000;
  font-size: 16px;
  margin: 8px 16px;
}
/* line 109, ../sass/index.sass */
.index .column-5 {
  background-color: #5f5f5f;
  padding: 24px;
}
/* line 112, ../sass/index.sass */
.index .column-5 .title {
  color: #ffffff;
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 24px auto;
}
/* line 118, ../sass/index.sass */
.index .column-5 .content {
  display: flex;
  justify-content: center;
}
/* line 121, ../sass/index.sass */
.index .column-5 .content .item {
  margin: 0 10px 24px;
}
/* line 123, ../sass/index.sass */
.index .column-5 .content .item:hover {
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.8);
}
/* line 125, ../sass/index.sass */
.index .column-5 .content .item:nth-child(1) .head {
  background-image: url("../images/index/home_media_bg_01.png");
}
/* line 127, ../sass/index.sass */
.index .column-5 .content .item:nth-child(2) .head {
  background-image: url("../images/index/home_media_bg_02.png");
}
/* line 129, ../sass/index.sass */
.index .column-5 .content .item:nth-child(3) .head {
  background-image: url("../images/index/home_media_bg_03.png");
}
/* line 131, ../sass/index.sass */
.index .column-5 .content .item:nth-child(4) .head {
  background-image: url("../images/index/home_media_bg_04.png");
}
/* line 133, ../sass/index.sass */
.index .column-5 .content .item .head {
  -webkit-background-size: cover;
  background-size: 110%;
  height: 68px;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 140, ../sass/index.sass */
.index .column-5 .content .item .head:hover {
  background-size: 100%;
}
/* line 142, ../sass/index.sass */
.index .column-5 .content .item .body {
  width: 100%;
  min-height: 126px;
  color: #000000;
  background-color: #ffffff;
  padding: 23px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
