/* line 9, ../sass/marking.sass */
.marking .column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  background-color: #fafafa;
}
/* line 15, ../sass/marking.sass */
.marking .column-1 > .title {
  font-size: 48px;
  padding: 8px 16px;
  letter-spacing: 4.5px;
}
/* line 19, ../sass/marking.sass */
.marking .column-1 > .text {
  max-width: 645px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  padding: 8px 16px;
}
/* line 25, ../sass/marking.sass */
.marking .column-1 .content {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 24px 16px;
}
/* line 30, ../sass/marking.sass */
.marking .column-1 .content .item {
  flex: 270px;
  flex-grow: 0;
  text-align: center;
  margin: 0 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
}
/* line 40, ../sass/marking.sass */
.marking .column-1 .content .item .icon {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  padding: 8px;
}
/* line 44, ../sass/marking.sass */
.marking .column-1 .content .item .title {
  font-size: 24px;
  padding: 8px;
  margin: 0 auto;
}
/* line 48, ../sass/marking.sass */
.marking .column-1 .content .item .text {
  font-size: 18px;
  max-width: 180px;
  margin: 0 auto;
}
/* line 52, ../sass/marking.sass */
.marking .column-2 {
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
  align-items: center;
  padding: 32px 16px;
  color: #ffffff;
}
/* line 59, ../sass/marking.sass */
.marking .column-2 .title {
  font-size: 48px;
  padding: 8px 16px;
}
/* line 62, ../sass/marking.sass */
.marking .column-2 .text {
  padding: 8px 16px;
  font-size: 16px;
  max-width: 580px;
}
/* line 66, ../sass/marking.sass */
.marking .column-3 {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;
}
/* line 72, ../sass/marking.sass */
.marking .column-3 > .title {
  padding: 24px 16px;
  font-size: 48px;
  letter-spacing: 4px;
}
/* line 76, ../sass/marking.sass */
.marking .column-3 .content {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  margin-bottom: 12px;
}
/* line 81, ../sass/marking.sass */
.marking .column-3 .content .item {
  flex: 370px;
  flex-grow: 0;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin: 0 15px;
  text-align: center;
}
/* line 88, ../sass/marking.sass */
.marking .column-3 .content .item .head {
  width: 100%;
  margin-bottom: 4px;
  display: block;
}
/* line 92, ../sass/marking.sass */
.marking .column-3 .content .item .title {
  font-size: 24px;
  padding: 12px 32px;
  color: #ff8300;
  display: block;
}
/* line 97, ../sass/marking.sass */
.marking .column-3 .content .item p {
  padding: 4px 32px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
}
/* line 102, ../sass/marking.sass */
.marking .column-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 16px;
}
/* line 107, ../sass/marking.sass */
.marking .column-4 .method {
  width: 400px;
  height: 60px;
  max-width: 100%;
  border-radius: 3px;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  line-height: 2;
  letter-spacing: 3px;
  margin: 16px auto;
}
/* line 117, ../sass/marking.sass */
.marking .column-4 .method.blue {
  background-color: #4a90e2;
}
/* line 119, ../sass/marking.sass */
.marking .column-4 .method.green {
  background-color: #6fc617;
}
/* line 121, ../sass/marking.sass */
.marking .column-4 .method.orange {
  background-color: #ff8300;
}
/* line 123, ../sass/marking.sass */
.marking .column-4 .line {
  background-color: #dfdfdf;
}
/* line 125, ../sass/marking.sass */
.marking .column-4 .content-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 22px;
  margin-bottom: 32px;
}
/* line 131, ../sass/marking.sass */
.marking .column-4 .content-1 .item {
  max-width: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 137, ../sass/marking.sass */
.marking .column-4 .content-1 .item .title {
  font-size: 24px;
  letter-spacing: 2px;
  display: flex;
}
/* line 141, ../sass/marking.sass */
.marking .column-4 .content-1 .item .title span {
  display: block;
  width: 94px;
  text-align: center;
  border-radius: 3px;
  margin-right: 4px;
  border: solid 1px #cccccc;
}
/* line 148, ../sass/marking.sass */
.marking .column-4 .price {
  font-size: 24px;
  color: #ff8300;
  padding: 16px;
}
/* line 152, ../sass/marking.sass */
.marking .column-4 .content-2 {
  text-align: center;
  width: 100%;
}
/* line 155, ../sass/marking.sass */
.marking .column-4 .content-2 .title {
  font-size: 24px;
  letter-spacing: 2px;
}
/* line 158, ../sass/marking.sass */
.marking .column-4 .content-2 .plus {
  text-align: center;
  font-size: 32px;
  padding: 16px;
  color: #d8d8d8;
}
/* line 163, ../sass/marking.sass */
.marking .column-4 .content-2 .items {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 22px;
  margin-bottom: 32px;
  position: relative;
}
/* line 170, ../sass/marking.sass */
.marking .column-4 .content-2 .items .item {
  flex-grow: 0;
  max-width: 100%;
}
/* line 174, ../sass/marking.sass */
.marking .column-4 .content-2 .items .item .desc {
  color: #757575;
  font-size: 16px;
}
/* line 177, ../sass/marking.sass */
.marking .column-4 .text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2;
  max-width: 400px;
  margin: 0 auto;
}
/* line 184, ../sass/marking.sass */
.marking .column-5 {
  display: flex;
  flex-direction: column;
  padding: 44px 20px;
  background-image: url("../images/marking/marketing_contactUs.png");
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 191, ../sass/marking.sass */
.marking .column-5 .title {
  font-size: 48px;
  color: #ff8300;
  text-align: center;
}
/* line 195, ../sass/marking.sass */
.marking .column-5 .text {
  font-size: 24px;
  margin-top: 24px;
  color: #ffffff;
  text-align: center;
}
/* line 200, ../sass/marking.sass */
.marking .column-5 .more {
  font-size: 24px;
  color: #ffffff;
  width: 200px;
  text-align: center;
  padding: 16px;
  margin: 40px auto 0;
  border-radius: 32px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}
