/* line 8, ../sass/pos.sass */
p {
  margin: 0;
}

/* line 11, ../sass/pos.sass */
.pos .column-1 {
  flex-direction: column;
  background-color: #fafafa;
  padding: 20px;
}
/* line 15, ../sass/pos.sass */
.pos .column-1 .category_box {
  background: #ffffff;
  border: 1px solid #E6E6E6;
  padding: 0;
  margin: 0;
  height: 220px;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 24, ../sass/pos.sass */
.pos .column-1 .category_box .t3 {
  font-size: 24px;
}
/* line 26, ../sass/pos.sass */
.pos .column-1 .category_box .t5 {
  font-size: 16px;
}
/* line 28, ../sass/pos.sass */
.pos .column-1 .category_box img {
  width: 160px;
  height: auto;
  margin: 0 auto;
}
/* line 32, ../sass/pos.sass */
.pos .column-1 .row {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 36, ../sass/pos.sass */
.pos .column-1 .row .item {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  height: auto;
  flex: 220px;
  max-width: 335px;
  min-height: 290px;
  flex-shrink: 0;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 50, ../sass/pos.sass */
.pos .column-1 .row .item .icon {
  width: 120px;
  height: auto;
}
/* line 52, ../sass/pos.sass */
.pos .column-1 .row .item .title {
  font-size: 18px;
  margin: 8px;
  opacity: 0.8;
}
/* line 56, ../sass/pos.sass */
.pos .column-1 .row .item .desc {
  font-size: 16px;
  margin: 8px;
  opacity: 0.8;
}
/* line 60, ../sass/pos.sass */
.pos .column-2 {
  display: flex;
  position: relative;
}
/* line 63, ../sass/pos.sass */
.pos .column-2 .left-block {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* line 70, ../sass/pos.sass */
.pos .column-2 .left-block ul {
  width: 50%;
  min-width: 300px;
  margin-top: 17px;
}
/* line 74, ../sass/pos.sass */
.pos .column-2 .left-block ul li {
  font-size: 16px;
  padding: 9px 0;
  border-bottom: solid 1px #f2f2f2;
}
/* line 78, ../sass/pos.sass */
.pos .column-2 .left-block ul li img {
  float: right;
}
/* line 80, ../sass/pos.sass */
.pos .column-2 .device-img {
  flex: 3;
  overflow: hidden;
}
/* line 83, ../sass/pos.sass */
.pos .column-2 .device-img img {
  width: 120%;
}
/* line 85, ../sass/pos.sass */
.pos .column-3 {
  color: #000000;
  text-align: center;
  padding: 10px 12%;
}
/* line 89, ../sass/pos.sass */
.pos .column-3 .title {
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 4.5px;
}
/* line 93, ../sass/pos.sass */
.pos .column-3 .sub-title {
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 20px;
}
/* line 97, ../sass/pos.sass */
.pos .column-3 .text {
  font-size: 16px;
  line-height: 2;
}
/* line 100, ../sass/pos.sass */
.pos .column-4 {
  padding: 48px 0 144px;
}
/* line 102, ../sass/pos.sass */
.pos .column-4 .swiper-container-3d {
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
/* line 110, ../sass/pos.sass */
.pos .column-4 .swiper-container-3d .swiper-slide {
  width: 673px;
  height: 487px;
  z-index: 10;
  background-position: center;
  background-size: 100% 100%;
}
/* line 116, ../sass/pos.sass */
.pos .column-4 .swiper_3d_svg {
  text-align: center;
  margin-top: -70px;
}
/* line 119, ../sass/pos.sass */
.pos .column-5 {
  padding: 0 0 96px;
}
/* line 121, ../sass/pos.sass */
.pos .column-5 .rep_container {
  position: relative;
  width: 100%;
  padding: 30px 0;
  font-weight: 100;
  color: #ffffff;
  background-image: linear-gradient(76deg, #ff8300, #ff4c00);
}
/* line 128, ../sass/pos.sass */
.pos .column-5 .rep_container .title {
  font-size: 48px;
}
/* line 130, ../sass/pos.sass */
.pos .column-5 .rep_container .sub-title {
  font-size: 24px;
}
/* line 132, ../sass/pos.sass */
.pos .column-5 .rep_container .content {
  width: 300px;
  margin: 30px 0;
}
/* line 135, ../sass/pos.sass */
.pos .column-5 .rep_container .rep_img_block {
  position: absolute;
  right: 0;
}
/* line 138, ../sass/pos.sass */
.pos .column-5 .rep_container .rep_img_block .rep_img {
  z-index: 5;
}
/* line 140, ../sass/pos.sass */
.pos .column-5 .rep_container .rep_hr {
  z-index: 1000;
  border: 1px solid #E6E6E6;
  width: 100%;
  bottom: -140px;
  margin: 0 0 0 -35%;
}
/* line 146, ../sass/pos.sass */
.pos .column-6 {
  color: #000000;
  padding: 64px 20px;
}
/* line 149, ../sass/pos.sass */
.pos .column-6 .title {
  width: 100%;
  text-align: center;
  font-size: 48px;
}
/* line 153, ../sass/pos.sass */
.pos .column-6 .sub-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 16px 0;
}
/* line 158, ../sass/pos.sass */
.pos .column-6 .content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 162, ../sass/pos.sass */
.pos .column-6 .content-1 .item {
  width: 270px;
  padding: 16px;
  text-align: center;
  border: solid 1px #e6e6e6;
  margin: 0 15px 48px;
}
/* line 168, ../sass/pos.sass */
.pos .column-6 .content-1 .item img {
  width: 126px;
  height: 126px;
}
/* line 170, ../sass/pos.sass */
.pos .column-6 .content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* line 175, ../sass/pos.sass */
.pos .column-6 .content-2 .item {
  width: 270px;
  margin: 8px 15px;
  display: flex;
  align-items: center;
}
/* line 180, ../sass/pos.sass */
.pos .column-7 {
  padding-top: 48px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 186, ../sass/pos.sass */
.pos .column-7 .title {
  width: 100%;
  text-align: center;
  font-size: 48px;
}
/* line 190, ../sass/pos.sass */
.pos .column-7 .sub-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin: 16px 0;
}
/* line 195, ../sass/pos.sass */
.pos .column-7 .more {
  width: 200px;
  height: 64px;
  display: block;
  color: #ffffff;
  font-size: 24px;
  line-height: 55.2px;
  letter-spacing: 2px;
  margin: 0 auto 32px;
  text-align: center;
  border-radius: 100px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}
/* line 207, ../sass/pos.sass */
.pos .column-7 img {
  margin: 0 auto;
  max-width: 100%;
}
/* line 210, ../sass/pos.sass */
.pos .column-8 {
  padding: 88px 0;
  display: flex;
  align-items: center;
}
/* line 214, ../sass/pos.sass */
.pos .column-8 .left-block, .pos .column-8 .right-block {
  flex: 1;
}
/* line 216, ../sass/pos.sass */
.pos .column-8 .title {
  width: 100%;
  font-size: 48px;
}
/* line 219, ../sass/pos.sass */
.pos .column-8 .sub-title {
  width: 100%;
  font-size: 24px;
}
/* line 222, ../sass/pos.sass */
.pos .column-8 .text {
  width: 100%;
  font-size: 16px;
}
/* line 226, ../sass/pos.sass */
.pos .column-8 .right-block img {
  margin-top: 24px;
}
/* line 228, ../sass/pos.sass */
.pos .column-9 {
  background-image: url("../images/pos/pos_contactUs.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0% 70%;
  width: 100%;
  height: 371px;
  color: #ffffff;
  padding: 72px 0;
}
/* line 236, ../sass/pos.sass */
.pos .column-9 .title {
  width: 100%;
  font-size: 48px;
  text-align: center;
  margin: 8px 0;
}
/* line 241, ../sass/pos.sass */
.pos .column-9 .sub-title {
  width: 100%;
  font-size: 24px;
  text-align: center;
}
/* line 245, ../sass/pos.sass */
.pos .column-9 .more {
  width: 200px;
  height: 64px;
  display: block;
  color: #ffffff;
  font-size: 24px;
  line-height: 55.2px;
  letter-spacing: 2px;
  margin: 24px auto;
  text-align: center;
  border-radius: 100px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}
