@media all and (min-width: 768px) {
  /* line 8, ../sass/responsive.sass */
  .menu, .sub-nav {
    display: flex;
  }

  /* line 10, ../sass/responsive.sass */
  .toggle-menu {
    display: none;
  }

  /* line 12, ../sass/responsive.sass */
  .footer {
    height: 150px;
  }
  /* line 14, ../sass/responsive.sass */
  .footer ul {
    display: flex;
  }
  /* line 16, ../sass/responsive.sass */
  .footer ul li {
    border-left: 1px solid #ffffff;
  }
  /* line 17, ../sass/responsive.sass */
  .footer ul li:nth-child(1) {
    border-left: 0px;
  }

  /* line 22, ../sass/responsive.sass */
  .index .column-2 .item {
    width: 270px;
    margin: 0 15px;
  }
  /* line 25, ../sass/responsive.sass */
  .index .column-3 {
    height: 311px;
  }
  /* line 29, ../sass/responsive.sass */
  .index .column-4 .item .desc {
    max-width: 387px;
  }
  /* line 33, ../sass/responsive.sass */
  .index .column-5 .content .item {
    width: 220px;
  }
  /* line 35, ../sass/responsive.sass */
  .index .column-5 .content .item .desc {
    max-width: 100%;
  }

  /* line 39, ../sass/responsive.sass */
  .pos .column-1 .row {
    display: flex;
  }
  /* line 42, ../sass/responsive.sass */
  .pos .column-2 .left-block {
    align-items: flex-end;
    padding-bottom: 110px;
  }
  /* line 46, ../sass/responsive.sass */
  .pos .column-5 .rep_container {
    height: 341px;
  }
  /* line 48, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img_block {
    top: -220px;
  }
  /* line 50, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img {
    width: 817px;
    height: 680px;
  }

  /* line 55, ../sass/responsive.sass */
  .app .column-1 .row {
    display: flex;
  }
  /* line 57, ../sass/responsive.sass */
  .app .column-4 {
    min-height: 660px;
  }
  /* line 59, ../sass/responsive.sass */
  .app .column-4 .img {
    min-height: 475px;
  }
  /* line 61, ../sass/responsive.sass */
  .app .column-4 .img .left {
    left: -30%;
  }
  /* line 63, ../sass/responsive.sass */
  .app .column-4 .img .right {
    right: 0;
  }
  /* line 66, ../sass/responsive.sass */
  .app .column-6 .anc_pic {
    width: 300px;
    height: 300px;
  }
  /* line 69, ../sass/responsive.sass */
  .app .column-6 .anc_text_block, .app .column-6 .anc_text_block_left {
    width: 200px;
    left: 50%;
  }

  /* line 76, ../sass/responsive.sass */
  .marking .column-4 .line {
    height: 100px;
    width: 1px;
    margin-top: 16px;
  }
  /* line 81, ../sass/responsive.sass */
  .marking .column-4 .content-1 .item {
    flex: 385px;
  }
  /* line 85, ../sass/responsive.sass */
  .marking .column-4 .content-2 .items .item {
    flex: 256px;
  }

  /* line 89, ../sass/responsive.sass */
  .contact .column-1 .md-checkbox {
    width: 24%;
  }
  /* line 91, ../sass/responsive.sass */
  .contact .column-1 .form_large {
    width: 340px;
  }
  /* line 93, ../sass/responsive.sass */
  .contact .column-1 .form_huge, .contact .column-1 .radio-block {
    width: 500px;
  }
  /* line 95, ../sass/responsive.sass */
  .contact .column-1 .form_medium {
    width: 245px;
  }
  /* line 97, ../sass/responsive.sass */
  .contact .column-1 .form_small {
    width: 150px;
  }
}
@media all and (max-width: 768px) {
  /* line 100, ../sass/responsive.sass */
  .menu {
    display: none;
  }

  /* line 103, ../sass/responsive.sass */
  .navbar .logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  /* line 107, ../sass/responsive.sass */
  .navbar .sm-menu {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    top: 0;
    left: 0;
  }
  /* line 115, ../sass/responsive.sass */
  .navbar .toggle-menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  /* line 119, ../sass/responsive.sass */
  .navbar .sub-nav {
    display: none;
  }

  /* line 121, ../sass/responsive.sass */
  .footer {
    height: auto;
  }
  /* line 123, ../sass/responsive.sass */
  .footer ul {
    display: flex;
    flex-direction: column;
  }
  /* line 126, ../sass/responsive.sass */
  .footer ul li {
    margin: 6px 0;
  }

  /* line 129, ../sass/responsive.sass */
  .index .column-2 {
    flex-direction: column;
  }
  /* line 131, ../sass/responsive.sass */
  .index .column-2 .item {
    width: 100%;
    margin: 15px 0;
  }
  /* line 135, ../sass/responsive.sass */
  .index .column-4 {
    flex-direction: column;
  }
  /* line 138, ../sass/responsive.sass */
  .index .column-4 .item .desc {
    max-width: 100%;
  }
  /* line 141, ../sass/responsive.sass */
  .index .column-5 .content {
    flex-direction: column;
  }
  /* line 143, ../sass/responsive.sass */
  .index .column-5 .content .item {
    width: 100%;
  }
  /* line 145, ../sass/responsive.sass */
  .index .column-5 .content .item .desc {
    max-width: 100%;
  }

  /* line 149, ../sass/responsive.sass */
  .pos .column-1 .row {
    display: none;
  }
  /* line 151, ../sass/responsive.sass */
  .pos .column-1 .category_box {
    height: 230px;
    margin: 0 15%;
    width: 70%;
  }
  /* line 155, ../sass/responsive.sass */
  .pos .column-2 {
    flex-direction: column;
  }
  /* line 157, ../sass/responsive.sass */
  .pos .column-2 .left-block {
    align-items: center;
    padding: 20px 0;
  }
  /* line 161, ../sass/responsive.sass */
  .pos .column-5 .rep_container {
    overflow: hidden;
    height: 405px;
  }
  /* line 164, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img_block {
    top: 200px;
  }
  /* line 166, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img {
    height: 360px;
    width: auto;
  }
  /* line 170, ../sass/responsive.sass */
  .pos .column-6 .content-1 {
    flex-direction: column;
  }
  /* line 172, ../sass/responsive.sass */
  .pos .column-8 {
    flex-direction: column;
  }

  /* line 176, ../sass/responsive.sass */
  .app .column-1 .row {
    display: none;
  }
  /* line 178, ../sass/responsive.sass */
  .app .column-1 .category_box {
    height: 230px;
    margin: 0 15%;
    width: 70%;
  }
  /* line 182, ../sass/responsive.sass */
  .app .column-4 {
    min-height: 600px;
  }
  /* line 184, ../sass/responsive.sass */
  .app .column-4 .img {
    min-height: 425px;
  }
  /* line 186, ../sass/responsive.sass */
  .app .column-4 .img .left {
    width: 90%;
    left: -30%;
  }
  /* line 189, ../sass/responsive.sass */
  .app .column-4 .img .right {
    width: 70%;
    right: 0;
  }
  /* line 193, ../sass/responsive.sass */
  .app .column-6 .svg_top_circle {
    width: 100%;
    height: 100px;
  }
  /* line 196, ../sass/responsive.sass */
  .app .column-6 .anc_pic {
    margin-top: -20%;
    width: 70%;
    height: auto;
  }
  /* line 200, ../sass/responsive.sass */
  .app .column-6 .anc_text_block, .app .column-6 .anc_text_block_left {
    width: 100%;
    left: 0;
    top: 50%;
    position: relative;
    text-align: center;
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
    margin: auto;
    padding: 0 25%;
  }
  /* line 213, ../sass/responsive.sass */
  .app .column-6 .anc_bg {
    height: 700px;
    position: relative;
  }
  /* line 216, ../sass/responsive.sass */
  .app .column-6 .dark_bg {
    position: absolute;
    object-fit: cover;
    height: 700px;
    z-index: 0;
  }
  /* line 221, ../sass/responsive.sass */
  .app .column-6 .svg_top_circle .stroke-circle, .app .column-6 .svg_top_circle .stroke-line {
    stroke: #FFF;
  }

  /* line 225, ../sass/responsive.sass */
  .marking .column-1 .content {
    flex-direction: column;
  }
  /* line 227, ../sass/responsive.sass */
  .marking .column-1 .content .item {
    min-width: 270px;
    margin: 15px auto;
  }
  /* line 231, ../sass/responsive.sass */
  .marking .column-3 .content {
    flex-direction: column;
  }
  /* line 233, ../sass/responsive.sass */
  .marking .column-3 .content .item {
    margin: 15px auto;
  }
  /* line 236, ../sass/responsive.sass */
  .marking .column-4 .line {
    height: 1px;
    width: 75%;
    margin: 32px auto;
  }
  /* line 240, ../sass/responsive.sass */
  .marking .column-4 .content-1 {
    flex-direction: column;
  }
  /* line 243, ../sass/responsive.sass */
  .marking .column-4 .content-2 .items {
    flex-direction: column;
  }
  /* line 245, ../sass/responsive.sass */
  .marking .column-4 .content-2 .items .item {
    margin: 15px auto;
  }

  /* line 248, ../sass/responsive.sass */
  .contact .column-1 {
    padding: 15px;
  }
  /* line 250, ../sass/responsive.sass */
  .contact .column-1 .md-checkbox {
    width: 49%;
  }
  /* line 252, ../sass/responsive.sass */
  .contact .column-1 .con_form {
    width: 100%;
  }
  /* line 254, ../sass/responsive.sass */
  .contact .form_huge, .contact .form_large, .contact .form_medium, .contact .form_small {
    width: 100%;
  }
}
@media all and (max-width: 1160px) and (min-width: 768px) {
  /* line 259, ../sass/responsive.sass */
  .index .column-3 {
    height: 572px;
  }

  /* line 262, ../sass/responsive.sass */
  .pos .column-5 {
    overflow: hidden;
  }
  /* line 264, ../sass/responsive.sass */
  .pos .column-5 .rep_container {
    overflow: hidden;
  }
  /* line 266, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img_block {
    top: 100px;
  }
  /* line 268, ../sass/responsive.sass */
  .pos .column-5 .rep_container .rep_img {
    height: 360px;
    width: auto;
  }
}
@media all and (max-width: 1200px) and (min-width: 768px) {
  /* line 273, ../sass/responsive.sass */
  .app .column-4 {
    min-height: 660px;
  }
  /* line 275, ../sass/responsive.sass */
  .app .column-4 .img {
    min-height: 525px;
  }
  /* line 277, ../sass/responsive.sass */
  .app .column-4 .img .left {
    width: 90%;
  }
  /* line 279, ../sass/responsive.sass */
  .app .column-4 .img .right {
    width: 70%;
    right: -9%;
  }
}
