/* line 9, ../sass/service.sass */
.service .column-1 {
  display: flex;
  justify-content: center;
  padding: 32px 16px;
  background-color: #fafafa;
}
/* line 14, ../sass/service.sass */
.service .column-1 .item {
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  flex: 270px;
  flex-grow: 0;
  min-height: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  font-size: 16px;
}
/* line 26, ../sass/service.sass */
.service .column-1 .item img {
  margin-bottom: 8px;
}
/* line 28, ../sass/service.sass */
.service .column-2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 56px 16px;
}
/* line 33, ../sass/service.sass */
.service .column-2 .item {
  display: flex;
  margin: 8px auto;
}
/* line 36, ../sass/service.sass */
.service .column-2 .item img {
  height: 154px;
}
/* line 38, ../sass/service.sass */
.service .column-2 .item .content {
  border: solid 1px #e6e6e6;
  width: 500px;
  padding: 0 32px;
  display: flex;
}
/* line 44, ../sass/service.sass */
.service .column-2 .item .content ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 49, ../sass/service.sass */
.service .column-2 .item .content ul li {
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
  display: flex;
  align-items: center;
}
/* line 55, ../sass/service.sass */
.service .column-2 .item .content ul li i {
  background-color: #e6e6e6;
  float: left;
  margin-right: 8px;
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/* line 62, ../sass/service.sass */
.service .column-3 {
  display: flex;
  flex-direction: column;
  padding: 44px 20px;
  background-image: url("../images/service/service_contactUs.png");
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 69, ../sass/service.sass */
.service .column-3 .title {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}
/* line 73, ../sass/service.sass */
.service .column-3 .text {
  font-size: 24px;
  margin-top: 24px;
  color: #ffffff;
  text-align: center;
}
/* line 78, ../sass/service.sass */
.service .column-3 .more {
  font-size: 24px;
  color: #ffffff;
  width: 200px;
  text-align: center;
  padding: 16px;
  margin: 40px auto 0;
  border-radius: 32px;
  background-image: linear-gradient(72deg, #ff8300, #ff4c00);
}
