@import ../sass/global
=size($w,$h:$w)
  width: $w
  height: $h
=absolutecenter
  justify-content: center
  align-items: center
p
  margin: 0
.app
  .column-1
    flex-direction: column
    background-color: #fafafa
    padding: 20px
    .title
      font-size: $h1
      width: 100%
      text-align: center
      display: flex
      justify-content: center
    .text
      font-size: $h3
      padding: 8px 0
      width: 100%
      text-align: center
      display: flex
      justify-content: center
    .category_box
      background: $colorWhite
      border: 1px solid #E6E6E6
      padding: 0
      margin: 0
      height: 220px
      width: 100%
      position: relative
      text-align: center
      .t3
        font-size: $h3
      .t5
        font-size: $p2
      img
        width: 160px
        height: auto
        margin: 0 auto
    .row
      justify-content: center
      align-items: center
      flex-wrap: wrap
      .item
        background-color: $colorWhite
        border: solid 1px #e6e6e6
        height: auto
        flex: 220px
        max-width: 335px
        min-height: 170px
        flex-shrink: 0
        padding: 15px
        margin: 10px
        text-align: center
        display: flex
        +absolutecenter
        flex-direction: column
        .icon
          +size(120px, auto)
        .title
          font-size: $p1
          margin: 8px
          opacity: .8
        .desc
          font-size: $p2
          margin: 8px
          opacity: .8
  .column-2
    background-image: linear-gradient(78deg, #ff8300, #ff4c00)
    color: $colorWhite
    padding: 40px 20px
    .title
      font-size: $h1
      width: 100%
      text-align: center
      display: block
    .text
      font-size: $p2
      padding-top: 18px
      line-height: 2.06
      letter-spacing: 2px
      width: 100%
      max-width: 1280px
      margin: 0 auto
      text-align: center
      display: block
  .column-3
    background-color: #5f5f5f
    min-height: 520px
    color: $colorWhite
    position: relative
    overflow: hidden
    background-image: url('../images/app/app_tooManyMachine.png')
    background-repeat: no-repeat
    background-position: 50% 140px
    padding: 3*$h1 $h1 $h1
    .title
      font-size: $h1
      width: 100%
      text-align: center
      display: block
      z-index: 9
    .text
      font-size: $h3
      padding-top: $h1
      padding-bottom: $h1
      line-height: 2.06
      letter-spacing: 2px
      width: 100%
      max-width: 1280px
      margin: 0 auto
      text-align: center
      display: block
      z-index: 9
  .column-4
    .img
      position: relative
      .left
        position: absolute
        top: -32px
        z-index: 2
      .right
        position: absolute
        top: -64px
        z-index: 1
    .text
      display: flex
      padding: 0 88px
      font-size: $p1
      justify-content: flex-end
  .column-5
    background-color: #f3f3f3
    min-height: 300px
    display: flex
    flex-direction: column
    padding: 40px
    position: relative
    z-index: 9
    .title
      font-size: $h1
      text-align: center
    .text
      font-size: $p2
      margin-top: 24px
      text-align: center
  .column-6
    .container-fuild
      position: relative
    .dark_bg
      position: absolute
      width: 100%
      height: 450px
      z-index: 0
    .parallax-window-1
      background: url('../images/app/scroll_bg_01.jpg') no-repeat fixed
      width: 100%
      background-size: cover
    .parallax-window-2
      background: url('../images/app/scroll_bg_02.jpg') no-repeat fixed
      width: 100%
      background-size: cover
    .parallax-window-3
      background: url('../images/app/scroll_bg_03.jpg') no-repeat fixed
      width: 100%
      background-size: cover
    .anc_pic
      width: 300px
      height: 300px
      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      -webkit-transform: translateX(-50%) translateY(-50%)
      -moz-transform: translateX(-50%) translateY(-50%)
      -ms-transform: translateX(-50%) translateY(-50%)
      -o-transform: translateX(-50%) translateY(-50%)
    .anc_text_block
      margin-left: 203px
      transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
    .anc_text_block, .anc_text_block_left
      position: absolute
      text-align: center
    .anc_bg
      height: 450px
      .tx1
        font-size: $h1
        color: #FFF
      .tx3
        font-size: $p2
        color: #FFF
        letter-spacing: 0
        line-height: 24px
    .stroke-line
      stroke: #FF8300
      fill: none
      stroke-width: 4px
      stroke-dashoffset: 1500
    .stroke-circle
      stroke: #FF8300
      fill: none
      stroke-width: 4px
      stroke-dashoffset: 1000
    .dashLine
      -webkit-animation: dashLine 4s 1
      animation: dashLine 4s 1
      -moz-animation: dashLine 4s 1
      -o-animation: dashLine 4s 1
      -ms-animation: dashLine 4s 1
      animation-iteration-count: 1
      animation-delay: .4s
      -webkit-animation-delay: .4s
      -moz-animation-delay: .4s
      -o-animation-delay: .4s
      -ms-animation-delay: .4s
      -webkit-animation-fill-mode: forwards
      -moz-animation-fill-mode: forwards
      -o-animation-fill-mode: forwards
      -ms-animation-fill-mode: forwards
      animation-fill-mode: forwards
  .column-7
    display: flex
    flex-direction: column
    padding: 44px 20px
    .title
      font-size: $h1
      color: $colorOrange
      text-align: center
    .text
      font-size: $h3
      margin-top: 24px
      text-align: center
    .more
      font-size: $h3
      color: $colorWhite
      width: 200px
      text-align: center
      padding: 16px
      margin: 40px auto 0
      border-radius: 32px
      background-image: linear-gradient(72deg, #ff8300, #ff4c00)




