@import ../sass/global
=size($w,$h:$w)
  width: $w
  height: $h
=absolutecenter
  justify-content: center
  align-items: center
.contact
  .column-1
    position: relative
    overflow: hidden
    z-index: 0
    width: 100%
    min-height: 468px
    background: #FAFAFA
    .allball_copy
      height: 468px
      width: 100%
      z-index: -1
      position: absolute
      .ball_r, .ball_l
        img
          max-width: 100px
          z-index: -1
    .con_block
      text-align: center
      padding: 50px 0
      z-index: 10
      .tx1
        font-size: 48px
        color: #FF8300
        z-index: 10
      .tx4
        font-size: 20px
        color: #000
      .con_form
        position: relative
        width: 510px
        max-width: 100%
        text-align: center
        margin: 30px auto
        input, select, textarea
          background: #FFF
          border: 1px solid #E6E6E6
          padding: 5px 10px
          margin: 4px 2px
        .input-group
          display: inline
        .input-group-addon
          position: absolute
          right: 5px
          top: 0
          border: 0
          color: #FF8300
          background: 0 0
        .form_large
          height: 48px
        .form_huge
          height: 148px
          resize: none
        .form_medium
          height: 48px
        .form_small
          height: 48px
        .con_btn
          background: #FF8300
          border-radius: 100px
          font-size: 16px
          color: #FFF
          letter-spacing: .11px
          border: none
          width: 150px
          height: 40px
          margin: 30px 0
          outline: 0
        .radio-block
          background-color: #ffffff
          border: solid 1px #e6e6e6
          margin: 4px 6px
          padding: 0 16px
          box-sizing: border-box
          display: flex
          flex-wrap: wrap
          *:after, *:before
            box-sizing: border-box
          .md-checkbox
            position: relative
            margin: 1em 0
            text-align: left
            label
              cursor: pointer
              display: inline
              line-height: 1.25em
              font-weight: 400
              vertical-align: top
              clear: both
              padding-left: 1px
              &:not(:empty)
                padding-left: 0.75em
              &:before, &:after
                content: ""
                position: absolute
                left: 0
                top: 0
              &:before
                width: 1.25em
                height: 1.25em
                background: #fff
                border: 2px solid rgba(0, 0, 0, 0.54)
                border-radius: 0.125em
                cursor: pointer
                transition: background .3s
            input[type="checkbox"]
              outline: 0
              visibility: hidden
              width: 1.25em
              margin: 0
              display: block
              float: left
              font-size: inherit
              &:checked + label:before
                background: $colorOrange
                border: none
              &:checked + label:after
                transform: translate(0.25em, 0.3365384615em) rotate(-45deg)
                width: 0.75em
                height: 0.375em
                border: 0.125em solid #fff
                border-top-style: none
                border-right-style: none
