@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Noto Sans TC", "Noto Sans", "Microsoft JhengHei", "Arial";
  vertical-align: baseline; }

* {
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s; }

html, body {
  padding: 0;
  margin: 0; }
  html .wrapper, body .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff; }
    html .wrapper .navbar, body .wrapper .navbar {
      width: 100%;
      height: 64px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0; }
      html .wrapper .navbar .menu, body .wrapper .navbar .menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end; }
        html .wrapper .navbar .menu ul, body .wrapper .navbar .menu ul {
          display: flex;
          align-items: center;
          margin: 0;
          list-style: none; }
          html .wrapper .navbar .menu ul li, body .wrapper .navbar .menu ul li {
            font-size: 16px;
            margin: 0 16px;
            cursor: pointer; }
            html .wrapper .navbar .menu ul li:hover, body .wrapper .navbar .menu ul li:hover {
              color: #ff8300; }
          html .wrapper .navbar .menu ul .login, body .wrapper .navbar .menu ul .login {
            width: 32px;
            height: 32px;
            background-color: #3184be;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            padding: 5px; }
            html .wrapper .navbar .menu ul .login:hover, body .wrapper .navbar .menu ul .login:hover {
              padding-top: 3px;
              color: #fff; }
    html .wrapper .main-banner, body .wrapper .main-banner {
      width: 100%;
      height: 650px;
      max-height: 650px;
      position: relative;
      overflow: hidden; }
      html .wrapper .main-banner > img, body .wrapper .main-banner > img {
        object-fit: cover;
        width: 100%;
        height: 650px; }
      html .wrapper .main-banner .container, body .wrapper .main-banner .container {
        position: absolute;
        bottom: 20%;
        left: 13%; }
        html .wrapper .main-banner .container .desc, body .wrapper .main-banner .container .desc {
          position: relative;
          z-index: 10;
          color: #ffffff; }
          html .wrapper .main-banner .container .desc p, body .wrapper .main-banner .container .desc p {
            z-index: 2; }
          html .wrapper .main-banner .container .desc .title, body .wrapper .main-banner .container .desc .title {
            font-size: 48px; }
          html .wrapper .main-banner .container .desc .sub-title, html .wrapper .main-banner .container .desc .sub-title-th, body .wrapper .main-banner .container .desc .sub-title, body .wrapper .main-banner .container .desc .sub-title-th {
            font-size: 24px; }
          html .wrapper .main-banner .container .desc .sub-title-th, body .wrapper .main-banner .container .desc .sub-title-th {
            font-weight: 300; }
          html .wrapper .main-banner .container .desc img, body .wrapper .main-banner .container .desc img {
            width: auto;
            height: auto;
            position: absolute;
            object-fit: none;
            z-index: -1; }
          html .wrapper .main-banner .container .desc img:nth-child(1), body .wrapper .main-banner .container .desc img:nth-child(1) {
            bottom: -145px;
            left: -200px;
            opacity: 0.8; }
          html .wrapper .main-banner .container .desc img:nth-child(2), body .wrapper .main-banner .container .desc img:nth-child(2) {
            opacity: 0.7;
            left: -8%;
            bottom: -145px; }
          html .wrapper .main-banner .container .desc img:nth-child(3), body .wrapper .main-banner .container .desc img:nth-child(3) {
            opacity: 0.5;
            left: 15%;
            bottom: -145px; }

/*# sourceMappingURL=dudooeat.css.map */
