@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css)
@import ../sass/global

=size($w,$h:$w)
  width: $w
  height: $h
=absolutecenter
  justify-content: center
  align-items: center

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-family: 'Noto Sans TC', 'Noto Sans', 'Microsoft JhengHei', 'Arial'
  vertical-align: baseline

*
  font-weight: 400
  font-size: 16px
  letter-spacing: 1.2px
  transition: .3s
ul
  list-style: none

html, body
  padding: 0
  margin: 0
  .wrapper
    a
      color: $colorBlack
      text-decoration: none !important
      &:hover
        text-decoration: none !important
    +size(100%)
    overflow: hidden
    background-color: #fff
    .navbar
      +size(100%, auto)
      padding: 0 15px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      margin: 0
      transition: 1s
      &.fixed
        position: fixed
        top: 0
        width: 100%
        z-index: 9999
        background-color: #fff
        box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .4)
      .main-nav
        +size(100%, 64px)
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid #e6e6e6
        a
          color: $colorBlack
          &:hover, &.active
            color: $colorOrange
        .logo
          &:hover
            a
              background-image: url('../images/logo/header_logo_hover.png')
          a
            +size(117px, 38px)
            display: block
            -webkit-background-size: cover
            background-size: cover
            background-image: url('../images/logo/header_logo_nor.png')
        .sm-menu
          opacity: 0
          display: none
          >ul
            list-style: none
            margin-top: 72px

            >li
              text-align: center
              margin: -1px 27px
              border-width: 1px 0 1px 0
              border-color: #e6e6e6
              border-style: solid
              padding: 16px
              &.closen
                overflow: hidden
                transition: 1.5s
                i
                  transform: rotate(180deg)
                ul
                  height: 0
              i
                margin-left: 12px
              a
                font-size: $h3
                display: block
                +size(100%)
              ul
                padding-top: 4px
                list-style: none
                transition: 1s
                li
                  padding: 2px
                  a
                    padding: 26px 0 0
                    display: block
                    font-size: $p1
            .login
              border: none
              padding-bottom: 48px
              a
                +size(186px, 40px)
                display: block
                margin: 0 auto
                color: $colorWhite
                font-size: $p2
                line-height: 2.06
                letter-spacing: 1.5px
                border-radius: 36px
                padding: 4px 0
                background-image: linear-gradient(78deg, #ff8300, #ff4c00)
        .toggle-menu
          cursor: pointer
          span
            +size(64px)
            display: block
            background-image: url('../images/icon/hamburger_icon.svg')
            &:hover
              background-image: url('../images/icon/hamburger_icon_h.svg')
        .close-menu
          position: relative
          cursor: pointer
          display: block
          span
            +size(64px)
            display: block
            position: absolute
            cursor: pointer
            top: 0
            right: 16px
            background-image: url('../images/icon/close.svg')
            &:hover
              background-image: url('../images/icon/close_h.svg')
        .menu
          +size(calc(100% - 130px), 100%)
          justify-content: flex-end

          ul
            display: flex
            align-items: center
            margin: 0
            list-style: none
            li
              font-size: $p2
              margin: 0 16px
              cursor: pointer
            .login
              a
                +size(84px, 40px)
                display: block
                margin: 0 auto
                text-align: center
                color: $colorWhite
                font-size: $p2
                line-height: 2.06
                letter-spacing: 1.5px
                border-radius: 36px
                padding: 4px 0
                background-image: linear-gradient(78deg, #ff8300, #ff4c00)
            .member
              width: 32px
              height: 32px

              border-radius: 50%
              text-align: center
              padding: 5px
              a
                color: $colorWhite
                &:hover
                  padding-top: 3px
      .sub-nav
        width: 100%
        font-size: $p2
        justify-content: flex-end
        ul
          display: flex
          margin: 0
          padding-right: 115px
          li
            margin: 0 16px
            a
              +size(100%)
              display: block
              padding: 19px 0
              &:hover, &.active
                color: $colorOrange
              &.active
                border-bottom: 4px solid $colorOrange
    .main-banner
      +size(100%, 650px)
      max-height: 650px
      position: relative
      overflow: hidden
      &:hover
        .banner
          transform: scale(1.05)
      .banner
        object-fit: cover
        width: 100%
        height: 650px
        transition: 2s

      .container
        position: absolute
        bottom: 20%
        left: 13%
        .desc
          position: relative
          z-index: 10
          max-width: 610px
          color: $colorWhite
          p
            z-index: 2
          .title-big
            font-size: 2*$h1
          .title
            font-size: $h1
          .sub-title, .sub-title-th
            font-size: $h3
          .sub-title-th
            font-weight: 300
          img
            width: auto
            height: auto
            position: absolute
            object-fit: none
            z-index: -1
          img:nth-child(1)
            bottom: -145px
            left: -200px
            opacity: .8
          img:nth-child(2)
            opacity: .7
            left: -8%
            bottom: -145px
          img:nth-child(3)
            opacity: .5
            left: 15%
            bottom: -145px
    .footer
      width: 100%
      background-color: $colorBlack
      color: $colorWhite
      display: flex
      justify-content: space-between
      padding: 50px 11%
      ul
        list-style: none
        margin: 0
        display: flex
        li
          padding: 0 9px
          line-height: 14px
          a
            color: $colorWhite
            font-size: $p2
      .text
        padding: 0 9px
        margin-top: 13px
        font-size: $p2

@import ../sass/index
@import ../sass/pos
@import ../sass/app
@import ../sass/marking
@import ../sass/service
@import ../sass/contact

@import ../sass/responsive