@import ../sass/global
=size($w,$h:$w)
  width: $w
  height: $h
=absolutecenter
  justify-content: center
  align-items: center
.index
  .column-1
    +size(100%, 280px)
    display: flex
    +absolutecenter
    flex-direction: column
    position: relative
    background-image: url('../images/index/home_map.png')
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    background-position: 0 140px
    .title
      height: 60px
      max-width: 380px
      z-index: 1
    .desc
      font-size: $h3
      text-align: center
      margin-top: 16px
      z-index: 1
    .map-bg
      position: absolute
      width: 100%
      z-index: -1
  .column-2
    background-color: $colorGrayLight
    +size(100%, auto)
    padding: 32px
    display: flex
    +absolutecenter
    .item
      background-color: $colorWhite
      max-height: 430px
      padding: 32px
      text-align: center
      display: flex
      +absolutecenter
      flex-direction: column
      .icon
        +size(110px)
      .title
        font-size: $p1
        margin: 8px
        opacity: .8
      .desc
        font-size: $p2
        margin: 8px
        opacity: .8
  .column-3
    color: $colorWhite
    background-image: linear-gradient(76deg, #ff8300, #ff4c00)
    position: relative
    text-align: center
    overflow: hidden
    display: flex
    align-items: center
    flex-direction: column
    padding: 48px
    .title
      font-size: $h1
      margin: 8px 0
      letter-spacing: 4.5px
    .sub-title
      font-size: $h3
      margin: 8px 0
      letter-spacing: 2.3px
    .desc
      font-size: $p2
      margin: 8px 0
      max-width: 580px
      width: 100%
      letter-spacing: 1.2px
      text-align: left
      z-index: 99
    .logobg
      position: absolute
      bottom: -110px
      right: -110px
  .column-4
    padding: 64px 32px
    display: flex
    justify-content: center
    .item
      margin: 0 15px
      text-align: left
      .banner
        width: 100%
        display: block
        margin: 18px auto
      .title
        display: block
        color: $colorOrange
        font-size: $p1
        margin: 8px 16px
      .desc
        display: block

        color: $colorBlack
        font-size: $p2
        margin: 8px 16px
  .column-5
    background-color: #5f5f5f
    padding: 24px
    .title
      color: $colorWhite
      font-size: $h1
      display: flex
      justify-content: center
      margin: 24px auto
    .content
      display: flex
      justify-content: center
      .item
        margin: 0 10px 24px
        &:hover
          box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.8)
        &:nth-child(1) .head
          background-image: url('../images/index/home_media_bg_01.png')
        &:nth-child(2) .head
          background-image: url('../images/index/home_media_bg_02.png')
        &:nth-child(3) .head
          background-image: url('../images/index/home_media_bg_03.png')
        &:nth-child(4) .head
          background-image: url('../images/index/home_media_bg_04.png')
        .head
          -webkit-background-size: cover
          background-size: 110%
          height: 68px
          transition: 1s
          display: flex
          +absolutecenter
          &:hover
            background-size: 100%
        .body
          width: 100%
          min-height: 126px
          color: $colorBlack
          background-color: $colorWhite
          padding: 23px 16px
          display: flex
          +absolutecenter