@import ../sass/global
=size($w,$h:$w)
  width: $w
  height: $h
=absolutecenter
  justify-content: center
  align-items: center
.marking
  .column-1
    display: flex
    flex-direction: column
    align-items: center
    padding: 8px 0
    background-color: #fafafa
    >.title
      font-size: $h1
      padding: 8px 16px
      letter-spacing: 4.5px
    >.text
      max-width: 645px
      font-size: $p2
      line-height: 2
      letter-spacing: 1px
      padding: 8px 16px
    .content
      display: flex
      width: 100%
      justify-content: center
      padding: 24px 16px
      .item
        flex: 270px
        flex-grow: 0
        text-align: center
        margin: 0 15px
        padding: 8px
        display: flex
        flex-direction: column
        background-color: $colorWhite
        border: solid 1px #e6e6e6
        .icon
          +size(110px)
          margin: 0 auto
          padding: 8px
        .title
          font-size: $h3
          padding: 8px
          margin: 0 auto
        .text
          font-size: $p1
          max-width: 180px
          margin: 0 auto
  .column-2
    display: flex
    flex-direction: column
    background-color: #5f5f5f
    align-items: center
    padding: 32px 16px
    color: $colorWhite
    .title
      font-size: $h1
      padding: 8px 16px
    .text
      padding: 8px 16px
      font-size: $p2
      max-width: 580px
  .column-3
    background-color: #f5f5f5
    display: flex
    flex-direction: column
    align-items: center
    padding: 12px 16px
    >.title
      padding: 24px 16px
      font-size: $h1
      letter-spacing: 4px
    .content
      display: flex
      justify-content: center
      padding: 12px 16px
      margin-bottom: 12px
      .item
        flex: 370px
        flex-grow: 0
        background-color: #ffffff
        border: solid 1px #cccccc
        margin: 0 15px
        text-align: center
        .head
          width: 100%
          margin-bottom: 4px
          display: block
        .title
          font-size: $h3
          padding: 12px 32px
          color: $colorOrange
          display: block
        p
          padding: 4px 32px
          font-size: $p2
          letter-spacing: 1px
          line-height: 2
  .column-4
    display: flex
    flex-direction: column
    align-items: center
    padding: 72px 16px
    .method
      +size(400px, 60px)
      max-width: 100%
      border-radius: 3px
      color: $colorWhite
      font-size: $h2
      text-align: center
      line-height: 2
      letter-spacing: 3px
      margin: 16px auto
      &.blue
        background-color: $colorBlue
      &.green
        background-color: $colorGreen
      &.orange
        background-color: $colorOrange
    .line
      background-color: #dfdfdf
    .content-1
      display: flex
      width: 100%
      justify-content: center
      padding: 22px
      margin-bottom: 32px
      .item
        max-width: 100%
        flex-grow: 0
        display: flex
        flex-direction: column
        align-items: center
        .title
          font-size: $h3
          letter-spacing: 2px
          display: flex
          span
            display: block
            width: 94px
            text-align: center
            border-radius: 3px
            margin-right: 4px
            border: solid 1px #cccccc
    .price
      font-size: $h3
      color: $colorOrange
      padding: 16px
    .content-2
      text-align: center
      width: 100%
      .title
        font-size: $h3
        letter-spacing: 2px
      .plus
        text-align: center
        font-size: 32px
        padding: 16px
        color: #d8d8d8
      .items
        display: flex
        width: 100%
        justify-content: center
        padding: 22px
        margin-bottom: 32px
        position: relative
        .item

          flex-grow: 0
          max-width: 100%
          .desc
            color: #757575
            font-size: $p2
    .text
      text-align: center
      font-size: $p2
      letter-spacing: 2px
      line-height: 2
      max-width: 400px
      margin: 0 auto
  .column-5
    display: flex
    flex-direction: column
    padding: 44px 20px
    background-image: url('../images/marking/marketing_contactUs.png')
    -webkit-background-size: cover
    background-size: cover
    .title
      font-size: $h1
      color: $colorOrange
      text-align: center
    .text
      font-size: $h3
      margin-top: 24px
      color: $colorWhite
      text-align: center
    .more
      font-size: $h3
      color: $colorWhite
      width: 200px
      text-align: center
      padding: 16px
      margin: 40px auto 0
      border-radius: 32px
      background-image: linear-gradient(72deg, #ff8300, #ff4c00)