@import ../sass/global
=size($w,$h:$w)
  width: $w
  height: $h
=absolutecenter
  justify-content: center
  align-items: center
p
  margin: 0
.pos
  .column-1
    flex-direction: column
    background-color: #fafafa
    padding: 20px
    .category_box
      background: $colorWhite
      border: 1px solid #E6E6E6
      padding: 0
      margin: 0
      height: 220px
      width: 100%
      position: relative
      text-align: center
      .t3
        font-size: $h3
      .t5
        font-size: $p2
      img
        width: 160px
        height: auto
        margin: 0 auto
    .row
      justify-content: center
      align-items: center
      flex-wrap: wrap
      .item
        background-color: $colorWhite
        border: solid 1px #e6e6e6
        height: auto
        flex: 220px
        max-width: 335px
        min-height: 290px
        flex-shrink: 0
        padding: 15px
        margin: 10px
        text-align: center
        display: flex
        +absolutecenter
        flex-direction: column
        .icon
          +size(120px, auto)
        .title
          font-size: $p1
          margin: 8px
          opacity: .8
        .desc
          font-size: $p2
          margin: 8px
          opacity: .8
  .column-2
    display: flex
    position: relative
    .left-block
      flex: 2
      display: flex
      flex-direction: column
      //align-items: flex-end
      justify-content: flex-end

      ul
        width: 50%
        min-width: 300px
        margin-top: 17px
        li
          font-size: $p2
          padding: 9px 0
          border-bottom: solid 1px #f2f2f2
          img
            float: right
    .device-img
      flex: 3
      overflow: hidden
      img
        width: 120%
  .column-3
    color: $colorBlack
    text-align: center
    padding: 10px 12%
    .title
      font-size: $h1
      line-height: 1.25
      letter-spacing: 4.5px
    .sub-title
      font-size: $h3
      line-height: 1.33
      margin-bottom: 20px
    .text
      font-size: $p2
      line-height: 2
  .column-4
    padding: 1*$h1 0 3*$h1
    .swiper-container-3d
      padding-top: 10px
      padding-bottom: 50px
      position: relative
      -webkit-perspective: 1200px
      -moz-perspective: 1200px
      -o-perspective: 1200px
      perspective: 1200px
      .swiper-slide
        width: 673px
        height: 487px
        z-index: 10
        background-position: center
        background-size: 100% 100%
    .swiper_3d_svg
      text-align: center
      margin-top: -70px
  .column-5
    padding: 0 0 2*$h1
    .rep_container
      position: relative
      width: 100%
      padding: 30px 0
      font-weight: 100
      color: $colorWhite
      background-image: linear-gradient(76deg, #ff8300, #ff4c00)
      .title
        font-size: $h1
      .sub-title
        font-size: $h3
      .content
        width: 300px
        margin: 30px 0
      .rep_img_block
        position: absolute
        right: 0
        .rep_img
          z-index: 5
      .rep_hr
        z-index: 1000
        border: 1px solid #E6E6E6
        width: 100%
        bottom: -140px
        margin: 0 0 0 -35%
  .column-6
    color: $colorBlack
    padding: 64px 20px
    .title
      width: 100%
      text-align: center
      font-size: $h1
    .sub-title
      width: 100%
      text-align: center
      font-size: $h3
      margin: 16px 0
    .content-1
      display: flex
      justify-content: center
      align-items: center
      .item
        width: 270px
        padding: 16px
        text-align: center
        border: solid 1px #e6e6e6
        margin: 0 15px 48px
        img
          +size(126px)
    .content-2
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap
      .item
        width: 270px
        margin: 8px 15px
        display: flex
        align-items: center
  .column-7
    padding-top: 48px
    background-color: #fafafa
    display: flex
    flex-direction: column
    align-items: center
    .title
      width: 100%
      text-align: center
      font-size: $h1
    .sub-title
      width: 100%
      text-align: center
      font-size: $h3
      margin: 16px 0
    .more
      width: 200px
      height: 64px
      display: block
      color: $colorWhite
      font-size: $h3
      line-height: 2.3*$h3
      letter-spacing: 2px
      margin: 0 auto 32px
      text-align: center
      border-radius: 100px
      background-image: linear-gradient(72deg, #ff8300, #ff4c00)
    img
      margin: 0 auto
      max-width: 100%
  .column-8
    padding: 88px 0
    display: flex
    align-items: center
    .left-block, .right-block
      flex: 1
    .title
      width: 100%
      font-size: $h1
    .sub-title
      width: 100%
      font-size: $h3
    .text
      width: 100%
      font-size: $p2
    .right-block
      img
        margin-top: $h3
  .column-9
    background-image: url('../images/pos/pos_contactUs.png')
    -webkit-background-size: cover
    background-size: cover
    background-position: 0% 70%
    +size(100%, 371px)
    color: $colorWhite
    padding: 72px 0
    .title
      width: 100%
      font-size: $h1
      text-align: center
      margin: 8px 0
    .sub-title
      width: 100%
      font-size: $h3
      text-align: center
    .more
      width: 200px
      height: 64px
      display: block
      color: $colorWhite
      font-size: $h3
      line-height: 2.3*$h3
      letter-spacing: 2px
      margin: 24px auto
      text-align: center
      border-radius: 100px
      background-image: linear-gradient(72deg, #ff8300, #ff4c00)