@import ../sass/global
$phoneMedia: 768px
=size($w,$h:$w)
  width: $w
  height: $h

@media all and (min-width: $phoneMedia)
  .menu , .sub-nav
    display: flex
  .toggle-menu
    display: none
  .footer
    height: 150px
    ul
      display: flex
      li
        &:nth-child(1)
          border-left: 0px
        border-left: 1px solid $colorWhite
  .index
    .column-2
      .item
        width: 270px
        margin: 0 15px
    .column-3
      height: 311px
    .column-4
      .item
        .desc
          max-width: 387px
    .column-5
      .content
        .item
          width: 220px
          .desc
            max-width: 100%
  .pos
    .column-1
      .row
        display: flex
    .column-2
      .left-block
        align-items: flex-end
        padding-bottom: 110px
    .column-5
      .rep_container
        height: 341px
        .rep_img_block
          top: -220px
        .rep_img
          width: 817px
          height: 680px
  .app
    .column-1
      .row
        display: flex
    .column-4
      min-height: 660px
      .img
        min-height: 475px
        .left
          left: -30%
        .right
          right: 0
    .column-6
      .anc_pic
        width: 300px
        height: 300px
      .anc_text_block, .anc_text_block_left
        width: 200px
        left: 50%
  .marking
    .column-3
      .content
    .column-4
      .line
        height: 100px
        width: 1px
        margin-top: 16px
      .content-1
        .item
          flex: 385px
      .content-2
        .items
          .item
            flex: 256px
  .contact
    .column-1
      .md-checkbox
        width: 24%
      .form_large
        width: 340px
      .form_huge, .radio-block
        width: 500px
      .form_medium
        width: 245px
      .form_small
        width: 150px
@media all and (max-width: $phoneMedia)
  .menu
    display: none
  .navbar
    .logo
      width: 50%
      display: flex
      justify-content: flex-start
    .sm-menu
      flex-direction: column
      position: fixed
      +size(100%)
      z-index: 999
      background-color: #fff
      top: 0
      left: 0
    .toggle-menu
      width: 50%
      display: flex
      justify-content: flex-end
    .sub-nav
      display: none
  .footer
    height: auto
    ul
      display: flex
      flex-direction: column
      li
        margin: 6px 0
  .index
    .column-2
      flex-direction: column
      .item
        width: 100%
        margin: 15px 0

    .column-4
      flex-direction: column
      .item
        .desc
          max-width: 100%
    .column-5
      .content
        flex-direction: column
        .item
          width: 100%
          .desc
            max-width: 100%
  .pos
    .column-1
      .row
        display: none
      .category_box
        height: 230px
        margin: 0 15%
        width: 70%
    .column-2
      flex-direction: column
      .left-block
        align-items: center
        padding: 20px 0
    .column-5
      .rep_container
        overflow: hidden
        height: 405px
        .rep_img_block
          top: 200px
        .rep_img
          height: 360px
          width: auto
    .column-6
      .content-1
        flex-direction: column
    .column-8
      flex-direction: column
  .app
    .column-1
      .row
        display: none
      .category_box
        height: 230px
        margin: 0 15%
        width: 70%
    .column-4
      min-height: 600px
      .img
        min-height: 425px
        .left
          width: 90%
          left: -30%
        .right
          width: 70%
          right: 0
    .column-6
      .svg_top_circle
        width: 100%
        height: 100px
      .anc_pic
        margin-top: -20%
        width: 70%
        height: auto
      .anc_text_block, .anc_text_block_left
        width: 100%
        left: 0
        top: 50%
        position: relative
        text-align: center
        transform: translateY(5%)
        -webkit-transform: translateY(5%)
        -moz-transform: translateY(5%)
        -ms-transform: translateY(5%)
        -o-transform: translateY(5%)
        margin: auto
        padding: 0 25%
      .anc_bg
        height: 700px
        position: relative
      .dark_bg
        position: absolute
        object-fit: cover
        height: 700px
        z-index: 0
      .svg_top_circle .stroke-circle, .svg_top_circle .stroke-line
        stroke: #FFF
  .marking
    .column-1
      .content
        flex-direction: column
        .item
          min-width: 270px
          margin: 15px auto
    .column-3
      .content
        flex-direction: column
        .item
          margin: 15px auto
    .column-4
      .line
        height: 1px
        width: 75%
        margin: 32px auto
      .content-1
        flex-direction: column
      .content-2
        .items
          flex-direction: column
          .item
            margin: 15px auto
  .contact
    .column-1
      padding:  15px
      .md-checkbox
        width: 49%
      .con_form
        width: 100%
    .form_huge, .form_large, .form_medium, .form_small
      width: 100%

@media all and (max-width: 1160px) and (min-width: $phoneMedia)
  .index
    .column-3
      height: 572px
  .pos
    .column-5
      overflow: hidden
      .rep_container
        overflow: hidden
        .rep_img_block
          top: 100px
        .rep_img
          height: 360px
          width: auto
@media all and (max-width: 1200px) and (min-width: $phoneMedia)
  .app
    .column-4
      min-height: 660px
      .img
        min-height: 525px
        .left
          width: 90%
        .right
          width: 70%
          right: -9%