@import ../sass/global
=size($w,$h:$w)
  width: $w
  height: $h
=absolutecenter
  justify-content: center
  align-items: center
.service
  .column-1
    display: flex
    justify-content: center
    padding: 32px 16px
    background-color: #fafafa
    .item
      background-color: #ffffff
      border: solid 1px #e6e6e6
      flex: 270px
      flex-grow: 0
      min-height: 183px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      margin: 0 15px
      font-size: $p2
      img
        margin-bottom: 8px
  .column-2
    display: flex
    flex-direction: column
    margin: 0 auto
    padding: 56px 16px
    .item
      display: flex
      margin: 8px auto
      img
        height: 154px
      .content
        border: solid 1px #e6e6e6
        width: 500px
        padding: 0 32px
        display: flex

        ul
          margin: 0
          display: flex
          flex-direction: column
          justify-content: center
          li
            font-size: $p2
            padding: 10px 0
            margin: 0
            display: flex
            align-items: center
            i
              background-color: #e6e6e6
              float: left
              margin-right: 8px
              position: relative
              border-radius: 50%
              +size(10px)
  .column-3
    display: flex
    flex-direction: column
    padding: 44px 20px
    background-image: url('../images/service/service_contactUs.png')
    -webkit-background-size: cover
    background-size: cover
    .title
      font-size: $h1
      color: $colorWhite
      text-align: center
    .text
      font-size: $h3
      margin-top: 24px
      color: $colorWhite
      text-align: center
    .more
      font-size: $h3
      color: $colorWhite
      width: 200px
      text-align: center
      padding: 16px
      margin: 40px auto 0
      border-radius: 32px
      background-image: linear-gradient(72deg, #ff8300, #ff4c00)